<div>
    <h1>Imaging Preview API</h1>
    <h4>Gives clients access to real time processing and previews of image enhancements.</h4>
    <h6>Previews allow for result confirmation prior to sending jobs to CoreServices for final processing.</h6>
</div>
