<div style="text-align:left;">

        <h3>Credits Transaction Log</h3>

        <div data-ng-show="vm.creditsTransactionLog == null">
            <p><i class="fa fa-circle-o-notch fa-spin"></i> Loading transactions log</p>
        </div>

        <div data-ng-show="vm.creditsTransactionLog.length > 1">

            <table class="table table-responsive table-striped" data-ng-show="vm.creditsTransactionLog.length > 1">
                <!--<thead class="hidden-xs">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>-->
                <tr data-ng-repeat="logItem in vm.creditsTransactionLog">

                    <td>
                        <strong><i class="fa fa-history" style="color:#A6A6A6;"></i> <small am-time-ago="logItem.Timestamp"></small></strong>
                    </td>

                    <td>
                        <small>
                            {{ logItem.Details }}
                        </small>
                    </td>

                </tr>
            </table>

        </div>

        <div data-ng-show="vm.creditsTransactionLog.length == 0">
            <small>No transaction logs available.</small>
        </div>

    </div>

