<div>
    <!--About Image Formats Modal-->
    <div class="modal fade aboutImageFormatsModalWindow" tabindex="-1" role="dialog" aria-labelledby="aboutImageFormatsModalWindow" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 style="margin-top:-2px; margin-bottom:-2px;">How Image Formats Work</h3>
                </div>
                <div class="modal-body">

                    <tabset>
                        <tab id="Video" heading="Video" style="cursor:pointer;">

                        </tab>
                        <tab id="About" heading="About" style="cursor:pointer;">

                        </tab>
                        <tab id="Setup" heading="Setup" style="cursor:pointer;">

                        </tab>
                        <tab id="API" heading="API" style="cursor:pointer;">

                        </tab>
                    </tabset>

                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
