<div>
    <!--New Card Modal-->
    <div class="modal fade editSalesAlertsModalWindow" tabindex="-1" role="dialog" aria-labelledby="editSalesAlertsModalWindow" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 style="margin-top:2px; margin-bottom:2px;">Alert emails</h3>
                </div>
                <div class="modal-body">


                    <!--Deletion Errors-->
                    <div style="text-align:left; margin-top:20px;" data-ng-show="vm.deleteAlertEmailErrorMessage != null && vm.deleteAlertEmailErrorMessage != ''">
                        <div class="alert alert-danger" role="alert">
                            <div>
                                <i data-ng-show="!vm.newAlertEmail.Results.IsSuccess" class="fa fa-warning" style="color:darkred"></i>
                                {{ vm.deleteAlertEmailErrorMessage }}
                            </div>
                        </div>
                        <div style="text-align:right; margin-top:10px;">
                            <button class="btn btn-xs btn-warning" data-ng-click="vm.cleareDeleteAlertEmailErrorMessage()">OK</button>
                        </div>
                    </div>

                    <!--Deleting indicator-->

                    <div data-ng-show="vm.deletingAlertEmail" style="margin-top:-34px; margin-bottom:-6px">
                        <section-loader message="'Deleting email...'" loader-type="'inline'" style="margin-top:0px; margin-bottom:0px;"></section-loader>
                    </div>

                    <div data-ng-show="!vm.deletingAlertEmail" style="margin:0px; height:15px;">
                    </div>

                    <!--Listing View-->
                    <div style="margin-top:0px;" data-ng-show="vm.accountSettings.SalesSettings.AlertEmails.length > 0">
                        <table class="table table-responsive table-striped">
                            <tr data-ng-repeat="email in vm.accountSettings.SalesSettings.AlertEmails">
                                <td style="width:45%">
                                    <strong style="color:#595959">
                                        {{ email }}
                                    </strong>
                                <td style="text-align:right">
                                    <button class="btn btn-xs btn-default" data-ng-click="vm.removeAlertEmail($index)">X</button>
                                </td>

                            </tr>
                        </table>


                        <div style="height:0px;"></div>
                        <hr style="border-color:darkgrey" />

                    </div>
                    

                    <div style="text-align:right;">
                        <!--Input State-->
                        <div data-ng-show="!vm.newAlertEmail.IsSending && !vm.newAlertEmail.SendingComplete">
                            <div>
                                <div class="form">
                                    <div class="form-group" style="text-align:left">
                                        <label>Add an email to receive sales alerts:</label>
                                        <div style="height:10px;"></div>
                                        <input type="text" class="form-control input" data-ng-model="vm.newAlertEmail.Email" placeholder="Email address" />
                                        <div style="text-align:right; margin-top:10px;">
                                            <button data-ng-show="vm.newAlertEmail.Email != null && vm.newAlertEmail.Email != ''" class="btn btn-sm btn-primary" data-ng-click="vm.addAlertEmail()"><i class="fa fa-plus"></i> Add Email</button>
                                            <button data-ng-show="vm.newAlertEmail.Email == null || vm.newAlertEmail.Email == ''" class="btn btn-sm btn-primary disabled"><i class="fa fa-plus"></i> Add Email</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Loading State-->
                        <section-loader message="'Adding email...'" loader-type="'inline'" data-ng-show="vm.newAlertEmail.IsSending && !vm.newAlertEmail.SendingComplete"></section-loader>
                        <!--Results State-->
                        <div style="text-align:left;" data-ng-show="!vm.newAlertEmail.IsSending && vm.newAlertEmail.SendingComplete">
                            <div ng-class="vm.newAlertEmail.Results.IsSuccess ? 'alert alert-success' : 'alert alert-danger'" role="alert">
                                <div>
                                    <i data-ng-show="vm.newAlertEmail.Results.IsSuccess" class="fa fa-check" style="color:green"></i>
                                    <i data-ng-show="!vm.newAlertEmail.Results.IsSuccess" class="fa fa-warning" style="color:darkred"></i>
                                    {{ vm.newAlertEmail.Results.Message }}
                                </div>
                            </div>
                            <!-- If the error is due to a constraint on the plan -->
                            <div data-ng-show="vm.alertEmailConstraint">
                                <p>You've reached the allowed alert email limit.</p>
                            </div>
                            <div style="text-align:right; margin-top:10px;">
                                <button class="btn btn-sm btn-danger" data-ng-click="vm.resetAddAlertEmail()">Try again</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-md" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
