<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.webServer>
    <staticContent>
      <!--for Font Awesome & Glyph Icons-->
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  <appSettings>
    
    <!-- Current Environment -->
    <add key="Environment" value="local" />
      
    <!-- Shared Client Key for WCF -->
    <add key="SharedClientKey" value="[Config_SharedClientKey]" />
  
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!-- maxRequestLength set to 5mb for profile photo image uploads to WCF-->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="5000" />
    <!--<httpRuntime targetFramework="4.5" maxRequestLength="5000"/>-->
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPlatformAuthenticationService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAccountManagementService" maxReceivedMessageSize="262114">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPlatformManagementService" maxReceivedMessageSize="522114">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAccountRegistrationService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAccountCommunicationService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAccountPaymentPlanService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IInfrastructureTestsService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAccountBillingService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAccountCommerceService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPlatformBillingService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IApplicationDataInjectionService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPlatformInitializationService"
          closeTimeout="00:05:00" openTimeout="00:05:00" sendTimeout="00:05:00">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPlatformSettingsService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>



    <!--PRODUCTION -->

    <client>
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/PaymentPlan"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountPaymentPlanService"
        contract="AccountPaymentPlanService.IAccountPaymentPlanService"
        name="NetTcpBinding_IAccountPaymentPlanService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Management"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountManagementService"
        contract="AccountManagementService.IAccountManagementService"
        name="NetTcpBinding_IAccountManagementService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Billing"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountBillingService"
        contract="AccountBillingService.IAccountBillingService" name="NetTcpBinding_IAccountBillingService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Communication"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountCommunicationService"
        contract="AccountCommunicationService.IAccountCommunicationService"
        name="NetTcpBinding_IAccountCommunicationService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Commerce"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountCommerceService"
        contract="AccountCommerceService.IAccountCommerceService" name="NetTcpBinding_IAccountCommerceService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Registration"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountRegistrationService"
        contract="AccountRegistrationService.IAccountRegistrationService"
        name="NetTcpBinding_IAccountRegistrationService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/DataInjection"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IApplicationDataInjectionService"
        contract="ApplicationDataInjectionService.IApplicationDataInjectionService"
        name="NetTcpBinding_IApplicationDataInjectionService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Infrastructure/Tests"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInfrastructureTestsService"
        contract="InfrastructureTestsService.IInfrastructureTestsService"
        name="NetTcpBinding_IInfrastructureTestsService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Authentication"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformAuthenticationService"
        contract="PlatformAuthenticationService.IPlatformAuthenticationService"
        name="NetTcpBinding_IPlatformAuthenticationService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Billing"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformBillingService"
        contract="PlatformBillingService.IPlatformBillingService" name="NetTcpBinding_IPlatformBillingService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Management"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformManagementService"
        contract="PlatformManagementService.IPlatformManagementService"
        name="NetTcpBinding_IPlatformManagementService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Initialization"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformInitializationService"
        contract="PlatformInitializationService.IPlatformInitializationService"
        name="NetTcpBinding_IPlatformInitializationService" />
      <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Settings"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformSettingsService"
        contract="PlatformSettingsService.IPlatformSettingsService"
        name="NetTcpBinding_IPlatformSettingsService" />
    </client>
    
    <!--STAGE 

  <client>
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/PaymentPlan" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountPaymentPlanService" contract="AccountPaymentPlanService.IAccountPaymentPlanService" name="NetTcpBinding_IAccountPaymentPlanService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Management" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountManagementService" contract="AccountManagementService.IAccountManagementService" name="NetTcpBinding_IAccountManagementService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Billing" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountBillingService" contract="AccountBillingService.IAccountBillingService" name="NetTcpBinding_IAccountBillingService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Communication" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountCommunicationService" contract="AccountCommunicationService.IAccountCommunicationService" name="NetTcpBinding_IAccountCommunicationService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Commerce" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountCommerceService" contract="AccountCommerceService.IAccountCommerceService" name="NetTcpBinding_IAccountCommerceService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Registration" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountRegistrationService" contract="AccountRegistrationService.IAccountRegistrationService" name="NetTcpBinding_IAccountRegistrationService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/DataInjection" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IApplicationDataInjectionService" contract="ApplicationDataInjectionService.IApplicationDataInjectionService" name="NetTcpBinding_IApplicationDataInjectionService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Infrastructure/Tests" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInfrastructureTestsService" contract="InfrastructureTestsService.IInfrastructureTestsService" name="NetTcpBinding_IInfrastructureTestsService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Platform/Authentication" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformAuthenticationService" contract="PlatformAuthenticationService.IPlatformAuthenticationService" name="NetTcpBinding_IPlatformAuthenticationService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Platform/Billing" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformBillingService" contract="PlatformBillingService.IPlatformBillingService" name="NetTcpBinding_IPlatformBillingService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Platform/Initialization" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformInitializationService" contract="PlatformInitializationService.IPlatformInitializationService" name="NetTcpBinding_IPlatformInitializationService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Platform/Management" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformManagementService" contract="PlatformManagementService.IPlatformManagementService" name="NetTcpBinding_IPlatformManagementService" />
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Platform/Settings" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformSettingsService" contract="PlatformSettingsService.IPlatformSettingsService" name="NetTcpBinding_IPlatformSettingsService" />
    </client>-->
     

     <!--   LOCAL
<client>
      <endpoint address="net.tcp://localhost:8080/Services/Account/Billing"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountBillingService"
        contract="AccountBillingService.IAccountBillingService" name="NetTcpBinding_IAccountBillingService" />
      <endpoint address="net.tcp://localhost:8080/Services/Account/Commerce"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountCommerceService"
        contract="AccountCommerceService.IAccountCommerceService" name="NetTcpBinding_IAccountCommerceService" />
      <endpoint address="net.tcp://localhost:8080/Services/Account/Communication"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountCommunicationService"
        contract="AccountCommunicationService.IAccountCommunicationService"
        name="NetTcpBinding_IAccountCommunicationService" />
      <endpoint address="net.tcp://localhost:8080/Services/Account/Management"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountManagementService"
        contract="AccountManagementService.IAccountManagementService"
        name="NetTcpBinding_IAccountManagementService" />
      <endpoint address="net.tcp://localhost:8080/Services/Account/PaymentPlan"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountPaymentPlanService"
        contract="AccountPaymentPlanService.IAccountPaymentPlanService"
        name="NetTcpBinding_IAccountPaymentPlanService" />
      <endpoint address="net.tcp://localhost:8080/Services/Account/Registration"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountRegistrationService"
        contract="AccountRegistrationService.IAccountRegistrationService"
        name="NetTcpBinding_IAccountRegistrationService" />
      <endpoint address="net.tcp://localhost:8080/Services/Application/DataInjection"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IApplicationDataInjectionService"
        contract="ApplicationDataInjectionService.IApplicationDataInjectionService"
        name="NetTcpBinding_IApplicationDataInjectionService" />
      <endpoint address="net.tcp://localhost:8080/Services/Infrastructure/Tests"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInfrastructureTestsService"
        contract="InfrastructureTestsService.IInfrastructureTestsService"
        name="NetTcpBinding_IInfrastructureTestsService" />
      <endpoint address="net.tcp://localhost:8080/Services/Platform/Authentication"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformAuthenticationService"
        contract="PlatformAuthenticationService.IPlatformAuthenticationService"
        name="NetTcpBinding_IPlatformAuthenticationService" />
      <endpoint address="net.tcp://localhost:8080/Services/Platform/Billing"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformBillingService"
        contract="PlatformBillingService.IPlatformBillingService" name="NetTcpBinding_IPlatformBillingService" />
      <endpoint address="net.tcp://localhost:8080/Services/Platform/Initialization"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformInitializationService"
        contract="PlatformInitializationService.IPlatformInitializationService"
        name="NetTcpBinding_IPlatformInitializationService" />
      <endpoint address="net.tcp://localhost:8080/Services/Platform/Management"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformManagementService"
        contract="PlatformManagementService.IPlatformManagementService"
        name="NetTcpBinding_IPlatformManagementService" />
      <endpoint address="net.tcp://localhost:8080/Services/Platform/Settings"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformSettingsService"
        contract="PlatformSettingsService.IPlatformSettingsService"
        name="NetTcpBinding_IPlatformSettingsService" />
    </client>
 -->
  </system.serviceModel>
</configuration>