<div>

    <!-- Create Image Group MODAL -->
    <div class="modal fade createImageGroupModalWindow" tabindex="-1" role="dialog" aria-labelledby="createImageGroupModalWindow" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 style="margin-top:-2px; margin-bottom:-2px;">Create Image Group</h3>
                </div>
                <div class="modal-body">

                    <div style="margin:10px;">

                        <!--Input State-->
                        <div id="imageGroupForm" data-ng-show="!vm.newImageGroup.IsSending && !vm.newImageGroup.SendingComplete">
                            <div class="btn-group" style="margin-right:5px;">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span data-ng-show="vm.newImageGroup.ImageGroupTypeName != null && vm.newImageGroup.ImageGroupTypeName != '' && vm.newImageGroup.ImageGroupTypeName != 'Product'">{{ vm.newImageGroup.ImageGroupTypeName }}</span>
                                    <span data-ng-show="vm.newImageGroup.ImageGroupTypeName != null && vm.newImageGroup.ImageGroupTypeName != '' && vm.newImageGroup.ImageGroupTypeName == 'Product'">Item</span>
                                    
                                    <span data-ng-show="vm.newImageGroup.ImageGroupTypeName == null || vm.newImageGroup.ImageGroupTypeName == ''">Choose a group type</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="groupType in vm.imageGroupTypes">
                                        <a data-ng-show="groupType != vm.newImageGroup.ImageGroupTypeName && groupType.ImageGroupTypeName != 'Product'" style="cursor:pointer" data-ng-click="vm.newImageGroup.UpdateGroupType(groupType.ImageGroupTypeName, groupType.ImageGroupTypeNameKey)">{{ groupType.ImageGroupTypeName }}</a>
                                        <a data-ng-show="groupType != vm.newImageGroup.ImageGroupTypeName && groupType.ImageGroupTypeName == 'Product'" style="cursor:pointer" data-ng-click="vm.newImageGroup.UpdateGroupType(groupType.ImageGroupTypeName, groupType.ImageGroupTypeNameKey)">Item</a>
                                    </li>
                                </ul>
                            </div>

                            <div style="margin-top:15px;" data-ng-show="vm.newImageGroup.ImageGroupTypeName != null && vm.newImageGroup.ImageGroupTypeName != ''">
                                <input class="form-control" style="height:40px; font-size:18px;" type="text" data-ng-model="vm.newImageGroup.ImageGroupName" placeholder="Image Group Name" />
                            </div>
                        </div>

                        <!--Loading State-->
                        <section-loader message="'Creating image group...'" loader-type="'inline'" data-ng-show="vm.newImageGroup.IsSending && !vm.newImageGroup.SendingComplete"></section-loader>
                        <!--Results State-->
                        <div id="CreatePropertyResults" data-ng-show="!vm.newImageGroup.IsSending && vm.newImageGroup.SendingComplete">
                            <div ng-class="vm.newImageGroup.Results.IsSuccess ? 'alert alert-success' : 'alert alert-danger'" role="alert">
                                <div>
                                    <i data-ng-show="vm.newImageGroup.Results.IsSuccess" class="fa fa-check" style="color:green"></i>
                                    <i data-ng-show="!vm.newImageGroup.Results.IsSuccess" class="fa fa-warning" style="color:darkred"></i>
                                    {{ vm.newImageGroup.Results.Message }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <!--Input Footer-->
                    <div data-ng-show="!vm.newImageGroup.IsSending && !vm.newImageGroup.SendingComplete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button data-ng-show="vm.newImageGroup.ImageGroupName == null || vm.newImageGroup.ImageGroupName == ''" type="button" class="btn btn-primary disabled">Create Image Group</button>
                        <button data-ng-show="vm.newImageGroup.ImageGroupName != null && vm.newImageGroup.ImageGroupName != ''" type="button" class="btn btn-primary" data-ng-click="vm.createImageGroup()">Create Image Group</button>
                    </div>
                    <!--Loading Footer-->
                    <div data-ng-show="vm.newImageGroup.IsSending && !vm.newImageGroup.SendingComplete">
                    </div>
                    <!--Results Footer Success-->
                    <div data-ng-show="vm.newImageGroup.SendingComplete && vm.newImageGroup.Results.IsSuccess">
                        <!--<button type="button" class="btn btn-default" data-ng-click="vm.initializeCreateImageGroup()">Create Another</button>-->
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                    <!--Results Footer Failure-->
                    <div data-ng-show="vm.newImageGroup.SendingComplete && !vm.newImageGroup.Results.IsSuccess">
                        <!--<button class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                        <button class="btn btn-warning" data-ng-click="vm.newImageGroup.Retry()">Try again</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Image Format MODAL -->
    <div class="modal fade createImageFormatModalWindow" tabindex="-1" role="dialog" aria-labelledby="createImageFormatModalWindow" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 style="margin-top:-2px; margin-bottom:-2px;">Create Image Format</h3>
                </div>
                <div class="modal-body">

                    <div style="margin:10px;">

                        <!-- Input State -->
                        <div id="imageFormatForm" data-ng-show="!vm.newImageFormat.IsSending && !vm.newImageFormat.SendingComplete">


                            <div class="btn-group" style="margin-right:5px;">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span data-ng-show="vm.newImageFormat.ImageGroupTypeName != null && vm.newImageFormat.ImageGroupTypeName != '' && vm.newImageFormat.ImageGroupTypeName != 'Product'">{{ vm.newImageFormat.ImageGroupTypeName }}</span>
                                    <span data-ng-show="vm.newImageFormat.ImageGroupTypeName != null && vm.newImageFormat.ImageGroupTypeName != '' && vm.newImageFormat.ImageGroupTypeName == 'Product'">Item</span>

                                    <span data-ng-show="vm.newImageFormat.ImageGroupTypeName == null || vm.newImageFormat.ImageGroupTypeName == ''">Choose a group type</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="groupType in vm.imageGroupTypes">
                                        <a data-ng-show="groupType != vm.newImageFormat.ImageGroupTypeName && groupType.ImageGroupTypeName != 'Product'" style="cursor:pointer" data-ng-click="vm.newImageFormat.UpdateGroupType(groupType.ImageGroupTypeName, groupType.ImageGroupTypeNameKey)">{{ groupType.ImageGroupTypeName }}</a>
                                        <a data-ng-show="groupType != vm.newImageFormat.ImageGroupTypeName && groupType.ImageGroupTypeName == 'Product'" style="cursor:pointer" data-ng-click="vm.newImageFormat.UpdateGroupType(groupType.ImageGroupTypeName, groupType.ImageGroupTypeNameKey)">Item</a>
                                    </li>
                                </ul>
                            </div>





                            <div class="btn-group" style="margin-right:5px;" data-ng-show="vm.newImageFormat.ImageGroupTypeName != null && vm.newImageFormat.ImageGroupTypeName != ''">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span data-ng-show="vm.newImageFormat.ImageGroupName != null && vm.newImageFormat.ImageGroupName != ''">{{ vm.newImageFormat.ImageGroupName }}</span>
                                    <span data-ng-show="vm.newImageFormat.ImageGroupName == null || vm.newImageFormat.ImageGroupName == ''">Choose an image group</span>
                                    <span class="caret"></span>
                                </button>
                                <ul data-ng-repeat="groupType in vm.imageGroupTypes" class="dropdown-menu" role="menu" data-ng-show="groupType.ImageGroupTypeName == vm.newImageFormat.ImageGroupTypeName">
                                    <li data-ng-repeat="group in groupType.ImageGroups">
                                        <a data-ng-show="group != vm.newImageFormat.ImageGroupName && group.ImageFormatGroupNameKey != 'default' && group.ImageFormatGroupNameKey != 'main'" style="cursor:pointer" data-ng-click="vm.newImageFormat.UpdateGroup(group.ImageFormatGroupName, group.ImageFormatGroupNameKey)">{{ group.ImageFormatGroupName }}</a>
                                    </li>
                                </ul>
                            </div>




                            <div data-ng-show="vm.newImageFormat.ImageGroupName != null && vm.newImageFormat.ImageGroupName != ''">

                                <hr />

                                <p data-ng-show="vm.newImageFormat.ImageGroupTypeNameKey != 'product'">JSON parent path: [{{ vm.newImageFormat.ImageGroupTypeNameKey }}.Images].<b>{{ vm.newImageFormat.ImageGroupNameKey }}</b></p>
                                <p data-ng-show="vm.newImageFormat.ImageGroupTypeNameKey == 'product'">JSON parent path: [Item.Images].<b>{{ vm.newImageFormat.ImageGroupNameKey }}</b></p>

                                <hr />

                                <input class="form-control" style="height:40px; font-size:18px;" type="text" data-ng-model="vm.newImageFormat.ImageFormatName" placeholder="Image Format Name" />

                                <hr />

                                <input data-ng-show="!vm.newImageFormat.VariableWidth" style="float:left; width:90px; margin-right:10px;" class="form-control" type="text" data-ng-model="vm.newImageFormat.Width" maxlength="4" placeholder="Width" />
                                <span data-ng-show="!vm.newImageFormat.VariableWidth" style="float:left; font-weight:lighter; font-size:24px; color:darkgray; margin-right:10px;">X</span>
                                <input style="float:left; width:90px" class="form-control" type="text" data-ng-model="vm.newImageFormat.Height" maxlength="4" placeholder="Height" />
                                <span data-ng-show="vm.newImageFormat.VariableWidth" style="float:left; font-weight:lighter; font-size:12px; color:darkgray; margin-left:5px; margin-top:10px;">pixels tall, any width.</span>

                                <br style="clear:both" />

                                <div style="margin-top:20px; margin-bottom:25px;">
                                    <small style="color:darkgray;">* It is good practice to double the pixel size on the source image to support hd/retina displays.</small>
                                </div>






                                <!-- Aspect ratio preview -->
                                <div data-ng-show="!vm.newImageFormat.VariableWidth && vm.newImageFormat.Width != null && vm.newImageFormat.Height != null && vm.newImageFormat.Height > 0">
                                    <h5>Aspect Ratio Preview:</h5>

                                    <div data-ng-show="vm.newImageFormat.Width > 0 && vm.newImageFormat.Height > 0 && (((vm.newImageFormat.Width/vm.newImageFormat.Height)*100) <= 600)">
                                        <div data-ng-style="{'width': ((vm.newImageFormat.Width/vm.newImageFormat.Height)*100) }" style="height:100px; background-image:url('/Images/ui/fpo/image-format-bg.jpg')">
                                            <p data-ng-show="(((vm.newImageFormat.Width/vm.newImageFormat.Height)*100) > 80)" style="color:#8A8A8A; font-size:10px; font-weight:bold; text-align:center; padding-top:40px">{{ vm.newImageFormat.Width }} x {{ vm.newImageFormat.Height }}</p>
                                        </div>
                                        <p style="font-size:10px; font-weight:bold; text-align:left; padding-top:0">{{ vm.newImageFormat.Width }} x {{ vm.newImageFormat.Height }}</p>
                                    </div>

                                    <div data-ng-show="(((vm.newImageFormat.Width/vm.newImageFormat.Height)*100) > 600)">
                                        <p style="color:darkred; font-size:10px; font-weight:bold; text-align:left; padding-top:0">The aspect ratio is too wide!</p>
                                    </div>

                                    <hr />

                                </div>







                                <hr />

                                <!-- Gallery STATE -->
                                <div id="edit-gallery-bool">
                                    <p>
                                        <label>Gallery: </label>

                                        <span>
                                            <img data-ng-show="vm.newImageFormat.Gallery" src="/Images/ui/switch/switch-on-green-checked.gif" style="cursor:pointer" data-ng-click="vm.setGalleryValue(false)" />
                                            <img data-ng-show="!vm.newImageFormat.Gallery && vm.newImageFormat.Gallery != null" src="/Images/ui/switch/switch-off.gif" style="cursor:pointer" data-ng-click="vm.setGalleryValue(true)" />
                                        </span>

                                        <small style="color:darkgrey; font-size:10px">
                                            <strong>
                                                <span data-ng-show="vm.newImageFormat.Gallery">Image gallery</span>
                                                <span data-ng-show="!vm.newImageFormat.Gallery && vm.newImageFormat.Gallery != null">Single Image</span>
                                            </strong>
                                        </small>
                                    </p>
                                </div>

                                <!-- Listing STATE -->
                                <div id="edit-listing-bool">
                                    <p>
                                        <label>Listing: </label>

                                        <span>
                                            <img data-ng-show="vm.newImageFormat.Listing" src="/Images/ui/switch/switch-on-green-checked.gif" style="cursor:pointer" data-ng-click="vm.setListingValue(false)" />
                                            <img data-ng-show="!vm.newImageFormat.Listing && vm.newImageFormat.Listing != null" src="/Images/ui/switch/switch-off.gif" style="cursor:pointer" data-ng-click="vm.setListingValue(true)" />
                                        </span>

                                        <small style="color:darkgrey; font-size:10px">
                                            <strong>
                                                <span data-ng-show="vm.newImageFormat.Listing">Available in search results</span>
                                                <span data-ng-show="!vm.newImageFormat.Listing && vm.newImageFormat.Listing != null">Not available in search results</span>
                                            </strong>
                                        </small>
                                    </p>
                                </div>



                                <!-- Advanced settings (variable width)-->
                                <!--Closed-->
                                <div data-ng-show="!vm.newImageFormat.ShowAdvanced" style="margin-top:20px; margin-bottom:-10px;">
                                    <div style="clear:both;"></div>
                                    <small data-ng-click="vm.showAdvancedImageOptions()" style="color:darkgray; cursor:pointer">Advanced options <i class="fa fa-caret-right"></i></small>
                                </div>
                                <!--Open-->
                                <div data-ng-show="vm.newImageFormat.ShowAdvanced" style="margin-top:20px; margin-bottom:-10px;">
                                    <div style="clear:both;"></div>
                                    <small data-ng-click="vm.hideAdvancedImageOptions()" style="color:black; cursor:pointer">Advanced options <i class="fa fa-caret-down"></i></small>
                                    <div style="clear:both; margin-top:10px; margin-bottom:10px; margin-left:10px;">

                                        <!-- Variable Width STATE -->
                                        <div id="edit-variable-width-bool" style="margin-top:20px; margin-bottom:15px;">
                                            <p>
                                                <label>Variable width: </label>

                                                <span>
                                                    <img data-ng-show="vm.newImageFormat.VariableWidth" src="/Images/ui/switch/switch-on-green-checked.gif" style="cursor:pointer" data-ng-click="vm.setVariableWidthValue(false)" />
                                                    <img data-ng-show="!vm.newImageFormat.VariableWidth && vm.newImageFormat.VariableWidth != null" src="/Images/ui/switch/switch-off.gif" style="cursor:pointer" data-ng-click="vm.setVariableWidthValue(true)" />
                                                </span>

                                                <small style="color:darkgrey; font-size:10px">
                                                    <strong>
                                                        <span data-ng-show="vm.newImageFormat.VariableWidth">Variable widths allowed on this image format</span>
                                                        <span data-ng-show="!vm.newImageFormat.VariableWidth && vm.newImageFormat.VariableWidth != null">Locked aspect ratio</span>
                                                    </strong>
                                                </small>
                                            </p>
                                        </div>

                                    </div>
                                </div>



                            </div>





                        </div>

                        <!--Loading State-->
                        <section-loader message="'Creating image format...'" loader-type="'inline'" data-ng-show="vm.newImageFormat.IsSending && !vm.newImageFormat.SendingComplete"></section-loader>

                        <!--Results State-->
                        <div id="CreatePropertyResults" data-ng-show="!vm.newImageFormat.IsSending && vm.newImageFormat.SendingComplete">
                            <div ng-class="vm.newImageFormat.Results.IsSuccess ? 'alert alert-success' : 'alert alert-danger'" role="alert">
                                <div>
                                    <i data-ng-show="vm.newImageFormat.Results.IsSuccess" class="fa fa-check" style="color:green"></i>
                                    <i data-ng-show="!vm.newImageFormat.Results.IsSuccess" class="fa fa-warning" style="color:darkred"></i>
                                    {{ vm.newImageFormat.Results.Message }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">




                    <!--Input Footer-->
                    <div data-ng-show="!vm.newImageFormat.VariableWidth && !vm.newImageFormat.IsSending && !vm.newImageFormat.SendingComplete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button data-ng-show="vm.newImageFormat.ImageFormatName != '' && vm.newImageFormat.ImageFormatName != null && vm.newImageFormat.Width > 0 && vm.newImageFormat.Height > 0 && (((vm.newImageFormat.Width/vm.newImageFormat.Height)*100) < 600)"
                                type="button" class="btn btn-primary" data-ng-click="vm.createImageFormat()">
                            Create Image Format
                        </button>
                        <button data-ng-show="vm.newImageFormat.ImageFormatName == null || vm.newImageFormat.ImageFormatName == '' || vm.newImageFormat.Width <= 0 || vm.newImageFormat.Width == null || vm.newImageFormat.Height <= 0 || vm.newImageFormat.Height == null || (((vm.newImageFormat.Width/vm.newImageFormat.Height)*100) > 600)"
                                type="button" class="btn btn-primary disabled">
                            Create Image Format
                        </button>
                    </div>
                    <div data-ng-show="vm.newImageFormat.VariableWidth && !vm.newImageFormat.IsSending && !vm.newImageFormat.SendingComplete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button data-ng-show="vm.newImageFormat.ImageFormatName != '' && vm.newImageFormat.ImageFormatName != null && vm.newImageFormat.Width == 0 && vm.newImageFormat.Height > 0 && (((vm.newImageFormat.Width/vm.newImageFormat.Height)*100) < 600)"
                                type="button" class="btn btn-primary" data-ng-click="vm.createImageFormat()">
                            Create Image Format
                        </button>
                        <button data-ng-show="vm.newImageFormat.ImageFormatName == null || vm.newImageFormat.ImageFormatName == '' || vm.newImageFormat.Width > 0 || vm.newImageFormat.Width == null || vm.newImageFormat.Height <= 0 || vm.newImageFormat.Height == null || (((vm.newImageFormat.Width/vm.newImageFormat.Height)*100) > 600)"
                                type="button" class="btn btn-primary disabled">
                            Create Image Format
                        </button>
                    </div>





                    <!--Loading Footer-->
                    <div data-ng-show="vm.newImageFormat.IsSending && !vm.newImageFormat.SendingComplete">
                    </div>
                    <!--Results Footer Success-->
                    <div data-ng-show="vm.newImageFormat.SendingComplete && vm.newImageFormat.Results.IsSuccess">
                        <!--<button type="button" class="btn btn-default" data-ng-click="vm.initializeCreateImageGroup()">Create Another</button>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                    <!--Results Footer Failure-->
                    <div data-ng-show="vm.newImageFormat.SendingComplete && !vm.newImageFormat.Results.IsSuccess">
                        <!--<button class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                        <button class="btn btn-warning" data-ng-click="vm.newImageFormat.Retry()">Try again</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Manage Image Group MODAL -->
    <div class="modal fade editImageGroupModalWindow" tabindex="-1" role="dialog" aria-labelledby="editImageGroupModalWindow" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 style="margin-top:-2px; margin-bottom:-2px;"><b>{{ vm.imageGroupDetails.ImageGroupName }}</b> Image Group</h3>
                </div>
                <div class="modal-body">

                    <tabset>
                        <tab id="advanced" heading="Advanced" style="cursor:pointer;">

                            <div style="margin:30px; margin-left:20px;">
                                <!--Input State-->
                                <div id="RemoveForm" data-ng-show="!vm.imageGroupDetails.IsSending && !vm.imageGroupDetails.SendingComplete">
                                    <div>


                                        <p data-ng-show="vm.imageGroupDetails.ImageGroupTypeNameKey != 'product'"><span style="color:darkgray">Location:</span> [{{ vm.imageGroupDetails.ImageGroupTypeNameKey }}Object.Images]<b>.{{ vm.imageGroupDetails.ImageGroupNameKey }}</b></p>
                                        <p data-ng-show="vm.imageGroupDetails.ImageGroupTypeNameKey == 'product'"><span style="color:darkgray">Location:</span> [itemObject.Images]<b>.{{ vm.imageGroupDetails.ImageGroupNameKey }}</b></p>

                                        <hr />
                                    </div>
                                    <button type="button" class="btn btn-danger btn-lg" data-ng-click="vm.deleteImageGroup()">Delete the '{{ vm.imageGroupDetails.ImageGroupName }}' image group</button>
                                </div>

                                <!--Loading State-->
                                <section-loader message="'Removing group...'" loader-type="'inline'" data-ng-show="vm.imageGroupDetails.IsSending && !vm.imageGroupDetails.SendingComplete"></section-loader>

                                <!--Results State-->
                                <div id="RemoveResults" data-ng-show="!vm.imageGroupDetails.IsSending && vm.imageGroupDetails.SendingComplete">
                                    <div ng-class="vm.imageGroupDetails.Results.IsSuccess ? 'alert alert-success' : 'alert alert-danger'" role="alert">
                                        <div>
                                            <i data-ng-show="vm.imageGroupDetails.Results.IsSuccess" class="fa fa-check" style="color:green"></i>
                                            <i data-ng-show="!vm.imageGroupDetails.Results.IsSuccess" class="fa fa-warning" style="color:darkred"></i>
                                            {{ vm.imageGroupDetails.Results.Message }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tab>
                    </tabset>


                </div>
                <div class="modal-footer">
                    <!--Footer-->
                    <div>
                        <button data-ng-show="vm.imageGroupDetails.IsSending || !vm.imageGroupDetails.SendingComplete" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button data-ng-show="!vm.imageGroupDetails.IsSending && vm.imageGroupDetails.SendingComplete" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Manage Image Format MODAL -->
    <div class="modal fade editImageFormatModalWindow" tabindex="-1" role="dialog" aria-labelledby="editImageFormatModalWindow" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 style="margin-top:-2px; margin-bottom:-2px;"><b>{{ vm.imageFormatDetails.ImageFormatName }}</b> Image Format</h3>
                </div>
                <div class="modal-body">

                    <tabset>
                        <tab id="advanced" heading="Advanced" style="cursor:pointer;">

                            <div style="margin:30px; margin-left:20px;">
                                <!--Input State-->
                                <div id="RemoveForm" data-ng-show="!vm.imageFormatDetails.IsSending && !vm.imageFormatDetails.SendingComplete">
                                    <div>

                                        <p data-ng-show="vm.imageFormatDetails.ImageGroupTypeNameKey != 'product'"><span style="color:darkgray">Location:</span> [{{ vm.imageFormatDetails.ImageGroupTypeNameKey }}Object.Images]<b>.{{ vm.imageFormatDetails.ImageGroupNameKey }}.{{ vm.imageFormatDetails.ImageFormatNameKey }}</b></p>
                                        <p data-ng-show="vm.imageFormatDetails.ImageGroupTypeNameKey == 'product'"><span style="color:darkgray">Location:</span> [itemObject.Images]<b>.{{ vm.imageFormatDetails.ImageGroupNameKey }}.{{ vm.imageFormatDetails.ImageFormatNameKey }}</b></p>

                                        <hr />
                                    </div>
                                    <button type="button" class="btn btn-danger btn-lg" data-ng-click="vm.deleteImageFormat()">Delete the '{{ vm.imageFormatDetails.ImageFormatName }}' image format</button>
                                    <br /><br /><small><i>Please note that you must remove all images from any products that are currently using this format in order to remove the format from the system.</i></small>
                                </div>

                                <!--Loading State-->
                                <section-loader message="'Removing format...'" loader-type="'inline'" data-ng-show="vm.imageFormatDetails.IsSending && !vm.imageFormatDetails.SendingComplete"></section-loader>

                                <!--Results State-->
                                <div id="RemoveResults" data-ng-show="!vm.imageFormatDetails.IsSending && vm.imageFormatDetails.SendingComplete">
                                    <div ng-class="vm.imageFormatDetails.Results.IsSuccess ? 'alert alert-success' : 'alert alert-danger'" role="alert">
                                        <div>
                                            <i data-ng-show="vm.imageFormatDetails.Results.IsSuccess" class="fa fa-check" style="color:green"></i>
                                            <i data-ng-show="!vm.imageFormatDetails.Results.IsSuccess" class="fa fa-warning" style="color:darkred"></i>
                                            {{ vm.imageFormatDetails.Results.Message }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tab>
                    </tabset>


                </div>
                <div class="modal-footer">
                    <!--Footer-->
                    <div>
                        <button data-ng-show="vm.imageFormatDetails.IsSending || !vm.imageFormatDetails.SendingComplete" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button data-ng-show="!vm.imageFormatDetails.IsSending && vm.imageFormatDetails.SendingComplete" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Image Formats -->
    <div style="margin:30px; margin-top:40px;">

        <section-loader data-ng-show="vm.imageGroupTypes == null" message="'Getting image formats...'" loader-type="'inline'"></section-loader>

        <div data-ng-repeat="groupType in vm.imageGroupTypes">


            
            
            <h1 data-ng-show="groupType.ImageGroupTypeName != 'Product'" style="margin-bottom:35px; font-size:45px">{{ groupType.ImageGroupTypeName }} Images</h1><!--<button title="Add Image Group" data-toggle="modal" data-target=".editImageGroupTypeModalWindow" data-ng-click="vm.manageImageGroupType($index)" class="sahara-hidden-edit-h1 hidden-xs"></button></h1>-->
            <h1 data-ng-show="groupType.ImageGroupTypeName == 'Product'" style="margin-bottom:35px; font-size:45px">Item Images</h1><!--<button title="Add Image Group" data-toggle="modal" data-target=".editImageGroupTypeModalWindow" data-ng-click="vm.manageImageGroupType($index)" class="sahara-hidden-edit-h1 hidden-xs"></button></h1>-->


            <div style="margin-left:35px; margin-bottom:40px; margin-right:-45px;" data-ng-show="groupType.ImageGroups.length > 0" data-ng-repeat="group in groupType.ImageGroups">


                <h3 style="margin-bottom:30px;"><b>{{ group.ImageFormatGroupName }}</b> Image Group</h3><!--<button title="Add Image Format" data-toggle="modal" data-target=".editImageGroupModalWindow" data-ng-click="vm.manageImageGroup($parent.$index, $index)" class="sahara-hidden-edit-h3 hidden-xs"></button></h3>-->

                <div data-ng-show="group.ImageFormats.length > 0" data-ng-repeat="format in group.ImageFormats">

                        <!-- SINGLE -->
                        <div data-ng-show="!format.Gallery" style="float:left; margin-right:30px; margin-bottom:35px;">

                            <!-- Locked Aspect Ratio -->
                            <div data-ng-show="format.Width > 0" style="float:left; margin-bottom:10px; cursor:pointer" data-toggle="modal" data-target=".editImageFormatModalWindow" data-ng-click="vm.imageFormatDetails.Setup($parent.$parent.$index, $parent.$index, $index)">
                                <div data-ng-style="{'width': ((format.Width/format.Height)*100) }" style="height:100px; box-shadow:inset 1px 1px 8px 0 rgba(0,0,0,.30); background-color:#E3E3E3" onmouseover="this.style.background = '#CFCFCF'" onmouseout="this.style.background = '#E3E3E3'">
                                    <p data-ng-show="(((format.Width/format.Height)*100) > 80)" style="color:#8A8A8A; font-size:10px; font-weight:bold; text-align:center; padding-top:40px">{{ format.Width }} x {{ format.Height }}</p>
                                </div>
                            </div>

                            <!-- Variable Width -->
                            <div data-ng-show="format.Width == 0" style="float:left; margin-bottom:12px; height:100px; width:15px; background-image:url('/Images/ui/fpo/variable-width-bookend-left.gif')"></div>
                            <div data-ng-show="format.Width == 0" style="float:left; margin-bottom:12px; cursor:pointer" data-toggle="modal" data-target=".editImageFormatModalWindow" data-ng-click="vm.imageFormatDetails.Setup($parent.$parent.$index, $parent.$index, $index)">
                                <div style="height:100px; width:120px; box-shadow:inset 1px 1px 8px 0 rgba(0,0,0,.30); background-color:#E3E3E3" onmouseover="this.style.background = '#CFCFCF'" onmouseout="this.style.background = '#E3E3E3'">
                                    <p style="color:#8A8A8A; font-size:10px; font-weight:bold; text-align:center; padding-top:40px">{{ format.Height }}px tall<br /><span style="color:#BFBFBF"><i class="fa fa-arrow-left"></i> Variable width <i class="fa fa-arrow-right"></i></span></p>
                                </div>
                            </div>
                            <div data-ng-show="format.Width == 0" style="float:left; margin-bottom:12px; height:100px; width:15px; background-image:url('/Images/ui/fpo/variable-width-bookend-right.gif')"></div>
                            <!--<div data-ng-show="format.Width == 0" style="float:left; margin-left:-19px; margin-top:40px; margin-bottom:10px; height:104px; width:20px; color:lightgray"><i class="fa fa-arrow-right"></i></div>-->

                            <div style="clear:both;">
                                <div style="clear:both; font-size:16px; font-weight:bold; margin-top:10px">{{ format.ImageFormatName }}</div>
                                <div data-ng-show="format.Width > 0" style="font-size:13px; margin-top:0">{{ format.Width }} x {{ format.Height }}</div>
                                <div data-ng-show="format.Width == 0" style="font-size:13px; margin-top:0">{{ format.Height }}px tall, <i>variable width</i></div>
                                <div style="font-size:13px; color:darkgray; margin-top:0" data-ng-show="format.Gallery">(Gallery)</div>
                                <div style="font-size:13px; color:darkgray; margin-top:0" data-ng-show="!format.Gallery">(Single <span data-ng-show="format.Listing"> + Listing</span>)</div>
                            </div>

                        </div>


                        <!-- GALLERY -->
                        <div data-ng-show="format.Gallery" style="float:left; margin-right:30px; margin-top:-2px; margin-bottom:35px;">


                            <!--------------- Locked aspect ratio ------------------------>
                            <div data-ng-show="format.Width > 0" style="float:left;">
                                <!--Image Gallery Top-->
                                <div style="height:4px; background-image:url('/Images/ui/fpo/gallery-frame-top-light.gif')" data-ng-style="{'width': ((format.Width/format.Height)*100) }"></div>

                                <div style="cursor:pointer" data-toggle="modal" data-target=".editImageFormatModalWindow" data-ng-click="vm.imageFormatDetails.Setup($parent.$parent.$index, $parent.$index, $index)">
                                    <div data-ng-style="{'width': ((format.Width/format.Height)*100) }" style="height:100px; box-shadow:inset 1px 1px 8px 0 rgba(0,0,0,.30); background-color:#E3E3E3" onmouseover="this.style.background = '#CFCFCF'" onmouseout="this.style.background = '#E3E3E3'">
                                        <p data-ng-show="(((format.Width/format.Height)*100) > 80)" style="color:#8A8A8A; font-size:10px; font-weight:bold; text-align:center; padding-top:40px">{{ format.Width }} x {{ format.Height }}</p>
                                    </div>
                                </div>
                            </div>
                            <!--Image Gallery Right-->
                            <div data-ng-show="format.Width > 0" style="float:left; margin-bottom:8px; height:104px; width:4px; background-image:url('/Images/ui/fpo/gallery-frame-right-light.gif')"></div>


                            <!---------------------- Variable Width ----------------------->
                            <div data-ng-show="format.Width == 0" style="float:left; margin-top:4px; height:100px; width:15px; background-image:url('/Images/ui/fpo/variable-width-bookend-left.gif')"></div>
                            <div data-ng-show="format.Width == 0" style="float:left;">
                                <!--Image Gallery Top-->
                                <div style="height:4px; width:120px; background-image:url('/Images/ui/fpo/gallery-frame-top-light.gif')"></div>

                                <div style="cursor:pointer" data-toggle="modal" data-target=".editImageFormatModalWindow" data-ng-click="vm.imageFormatDetails.Setup($parent.$parent.$index, $parent.$index, $index)">
                                    <div style="height:100px; width:120px; box-shadow:inset 1px 1px 8px 0 rgba(0,0,0,.30); background-color:#E3E3E3" onmouseover="this.style.background = '#CFCFCF'" onmouseout="this.style.background = '#E3E3E3'">
                                        <p style="color:#8A8A8A; font-size:10px; font-weight:bold; text-align:center; padding-top:40px">{{ format.Height }}px tall<br /><span style="color:#BFBFBF"><i class="fa fa-arrow-left"></i> Variable width <i class="fa fa-arrow-right"></i></span></p>
                                    </div>
                                </div>
                            </div>
                            <!--Image Gallery Right-->
                            <div data-ng-show="format.Width == 0" style="float:left; margin-bottom:10px; height:104px; width:4px; background-image:url('/Images/ui/fpo/gallery-frame-right-light.gif')"></div>
                            <div data-ng-show="format.Width == 0" style="float:left; margin-top:4px; height:100px; width:15px; background-image:url('/Images/ui/fpo/variable-width-bookend-right.gif')"></div>


                            <div style="clear:both;">
                                <div style="font-size:16px; font-weight:bold;">{{ format.ImageFormatName }}</div>
                                <div data-ng-show="format.Width > 0" style="font-size:13px; margin-top:0">{{ format.Width }} x {{ format.Height }}</div>
                                <div data-ng-show="format.Width == 0" style="font-size:13px; margin-top:0">{{ format.Height }}px tall, <i>variable width</i></div>
                                <div style="font-size:13px; color:darkgray; margin-top:0" data-ng-show="format.Gallery">(Gallery)</div>
                                <div style="font-size:13px; color:darkgray; margin-top:0" data-ng-show="!format.Gallery">(Single)</div>
                            </div>


                        </div>

                </div>




                <div data-ng-show="group.ImageFormats.length == 0">
                    <p style="color:darkgray">No image formats</p>
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target=".editImageGroupModalWindow" data-ng-click="vm.imageGroupDetails.Setup($parent.$index, $index)">Delete this group</button>
                </div>

                <!--<button class="btn btn-default btn-sm" style="height:100px; width:100px;">+</button>-->

                <br data-ng-show="group.ImageFormats.length > 0" style="clear:both;" />
                <hr ng-show="!$last" style="clear:both;" />

            </div>


            <div style="margin-left:35px; margin-top:-20px" data-ng-show="groupType.ImageGroups.length == 0">
                <p style="color:darkgray">No image groups</p>
            </div>

            <hr style="clear:both; border-color:black; border-width:2px" />



        </div>

        <div data-ng-show="vm.checkRole('PlatformAdmin')" style="text-align:right" data-ng-show="vm.imageGroupTypes != null">
            <button class="btn btn-default" data-toggle="modal" data-target=".createImageGroupModalWindow" data-ng-click="vm.initializeCreateImageGroup()" style="margin-right:10px;"><i class="fa fa-list-alt"></i> Create Group</button>
            <button class="btn btn-primary" data-toggle="modal" data-target=".createImageFormatModalWindow" data-ng-click="vm.initializeCreateImageFormat()"><i class="fa fa-image"></i> Create Format</button>
        </div>

    </div>
</div>
