<div data-ng-controller="searchController as vm" style="height:100%; width:100%">


    <!--PAGE LOADERS-->
    <div class="hidden-sm hidden-xs" data-ng-show="vm.pageLoaded == false" style="margin:auto; margin-top:145px; text-align:center; width:100%; position:absolute; margin-left:0; left: 50%; margin-right: -50%; padding-left:90px; transform: translate(-50%, -50%)">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:52px; color:#dcdcdc"></i>
        <div style="margin-top:10px;">
            <p style="color:darkgray; font-size:16px">Preparing search</p>
        </div>
    </div>

    <div class="visible-sm" data-ng-show="vm.pageLoaded == false" style="margin:auto; margin-top:125px; text-align:center; width:100%; position:absolute; margin-left:0; left: 50%; margin-right: -50%; padding-left:0px; transform: translate(-50%, -50%)">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:46px; color:#dcdcdc"></i>
        <div style="margin-top:10px;">
            <p style="color:darkgray; font-size:14px">Preparing search</p>
        </div>
    </div>

    <div class="visible-xs" data-ng-show="vm.pageLoaded == false" style="margin:auto; margin-top:85px; text-align:center; width:100%; position:absolute; margin-left:0; left: 50%; margin-right: -50%; padding-right:0px; transform: translate(-50%, -50%)">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:36px; color:#dcdcdc"></i>
        <div style="margin-top:10px;">
            <p style="color:darkgray; font-size:12px">Preparing search</p>
        </div>
    </div>
     
    <div id="search-powerbar" class="hidden-xs hidden-sm nano"
         style="overflow-y: auto; overflow-x:hidden; padding:-5px; width:245px; height:100%; position: fixed; z-index: 1000; left:0; top:0;">

        <div id="searchMenu" class="nano-content" data-ng-hide="vm.searchMode == 'map' && vm.searchResults == null">


            <!-- Logo -->
            <div data-ng-show="vm.account.images.logos.square.url != null" style="text-align:left; margin-bottom:40px;">
                <a href="/" target="_self" ng-style="(vm.searchMode == 'map' || vm.searchResults != null) && {'margin-left':'50px'}"><img data-ng-src="{{vm.account.images.logos.square.url}}" height="120" width="120" /></a>
            </div>



            <form data-ng-show="vm.searchResults != null" ng-submit="vm.search()">
                <div id="search-box-sidebar" class="input-group">
                    <input style="height:30px; font-size:14px;" type="text" class="form-control" data-ng-model="vm.searchQuery" placeholder="Search query">
                    <span class="input-group-btn">
                        <button style="height:30px; font-size:12px;" class="btn btn-primary" type="Submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>

                <hr style="border-color:lightgray; margin-bottom:10px;" />

            </form>


            <!-- -------------------------- CATEGORIES ---------------------- -->

            <div id="categorizationFilter">

                <!--Drawer Label-->
                <div style="height:28px; color:darkgray; cursor:pointer; padding-bottom:7px; clear:both" data-ng-click="vm.updateCategoryDrawerUI()"
                     type="button" onmouseover="style.color = 'black'" onmouseout="style.color = 'darkgray'"
                     aria-expanded="false" data-toggle="collapse" data-target="#categorization-filters">
                    <span data-ng-style="vm.searchCategorization.Category != null && {'color':'black', 'font-weight' : 'bold'}">
                        <span>Categories</span> <span style="margin-left:5px;">
                            <i data-ng-show="vm.categoryDrawerOpen == true" class="fa fa-caret-up"></i>
                            <i data-ng-show="vm.categoryDrawerOpen == false" class="fa fa-caret-down"></i>
                        </span>
                    </span>
                </div>

                <div id="categorization-filters" class="collapse">
                    <div style="margin-bottom:25px; margin-top:20px; margin-left:15px;">
                        <!--Choose Category-->
                        <div style="margin-bottom:5px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span data-ng-show="vm.searchCategorization.Category != null">{{ vm.searchCategorization.Category.name }} <span class="caret"></span></span>
                                    <span data-ng-show="vm.searchCategorization.Category == null" style="color:#3D609C">All Categories <span class="caret"></span></span>
                                </button>
                                <ul  style="margin-left:-25px" class="dropdown-menu" role="menu">
                                    <li>
                                        <a data-ng-show="vm.searchCategorization.Category != null" style="cursor:pointer" data-ng-click="vm.resetCategorizations()">All Categories</a>
                                        <a data-ng-repeat="category in vm.categories" style="cursor:pointer" data-ng-click="vm.searchCategorization.updateCategory(category)">{{ category.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Choose Subcategory-->
                        <div style="margin-bottom:5px;">
                            <div data-ng-show="vm.searchCategorization.Category != null && vm.subcategories.length > 0" class="btn-group">
                                <!--<span data-ng-show="vm.subcategories == null"><img style="margin-left:20px;" src="/Images/Loaders/initializing.gif" /></span>-->
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" ng-class="vm.searchCategorization.Subcategory == null ? ' btn-primary' : ' btn-default'">
                                    <span data-ng-show="vm.searchCategorization.Subcategory != null">{{ vm.searchCategorization.Subcategory.name }} <span class="caret"></span></span>
                                    <span data-ng-show="vm.searchCategorization.Subcategory == null">More <span class="caret"></span></span>
                                </button>
                                <ul style="margin-left:-25px" class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="subcategory in vm.subcategories">
                                        <a style="cursor:pointer" data-ng-click="vm.searchCategorization.updateSubcategory(subcategory)">{{ subcategory.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <!--Choose Subsubcategory-->
                        <div style="margin-bottom:5px;">
                            <div data-ng-show="vm.searchCategorization.Subcategory != null && vm.subsubcategories.length > 0" class="btn-group">
                                <!--<span data-ng-show="vm.subsubcategories == null"><img style="margin-left:20px;" src="/Images/Loaders/initializing.gif" /></span>-->
                                <div data-ng-show="vm.subsubcategories.length > 0">
                                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" ng-class="vm.searchCategorization.Subsubcategory == null ? ' btn-primary' : ' btn-default'">
                                        <span data-ng-show="vm.searchCategorization.Subsubcategory != null">{{ vm.searchCategorization.Subsubcategory.name }} <span class="caret"></span></span>
                                        <span data-ng-show="vm.searchCategorization.Subsubcategory == null">More <span class="caret"></span></span>
                                    </button>
                                    <ul style="margin-left:-25px" class="dropdown-menu" role="menu">
                                        <li data-ng-repeat="subsubcategory in vm.subsubcategories">
                                            <a style="cursor:pointer" data-ng-click="vm.searchCategorization.updateSubsubcategory(subsubcategory)">{{ subsubcategory.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Choose Subsubsubcategory-->
                        <div>
                            <div data-ng-show="vm.searchCategorization.Subsubcategory != null && vm.subsubsubcategories.length > 0" class="btn-group">
                                <!--<span data-ng-show="vm.subsubsubcategories == null"><img style="margin-left:20px;" src="/Images/Loaders/initializing.gif" /></span>-->
                                <div data-ng-show="vm.subsubsubcategories.length > 0">
                                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" ng-class="vm.searchCategorization.Subsubsubcategory == null ? ' btn-primary' : ' btn-default'">
                                        <span data-ng-show="vm.searchCategorization.Subsubsubcategory != null">{{ vm.searchCategorization.Subsubsubcategory.name }} <span class="caret"></span></span>
                                        <span data-ng-show="vm.searchCategorization.Subsubsubcategory == null">More <span class="caret"></span></span>
                                    </button>
                                    <ul style="margin-left:-25px" class="dropdown-menu" role="menu">
                                        <li data-ng-repeat="subsubsubcategory in vm.subsubsubcategories">
                                            <a style="cursor:pointer" data-ng-click="vm.searchCategorization.updateSubsubsubcategory(subsubsubcategory)">{{ subsubsubcategory.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Update
                        <div data-ng-show="vm.showCategoryUpdateButton" style="text-align:right;">
                            <button data-ng-click="vm.search();" class="btn btn-primary btn-xs">Update</button>
                        </div> -->
                        <!--Clear floats and add bottom margin to category drawers-->
                        <div style="clear:both; height:1px;"></div>

                    </div>
                </div>


            </div>

            <hr style="border-color:#EDEDED; margin-bottom:10px; margin-top:5px;" />

            <!-- -------------------------- FACETS ---------------------- -->

            <div class="panel-group" data-ng-repeat="facet in vm.facets">

                <div data-ng-hide="facet.type == 'location' && vm.searchMode == 'map'">
                    <!-- Hide location drawers during map search -->
                    <!-- Closed Drawer -->
                    <div id="filter-{{facet.key}}-closed" style="height:28px; color:darkgray; cursor:pointer; padding-bottom:7px; clear:both" data-ng-click="vm.updateDrawerUI(facet.key, 'open')"
                         type="button" onmouseover="style.color = 'black'" onmouseout="style.color = 'darkgray'"
                         aria-expanded="false" data-toggle="collapse" data-target="#filter-{{facet.key}}">
                        <span data-ng-style="facet.SelectedItemCount > 0 && {'color':'black', 'font-weight' : 'bold'} || vm.locationSearch.facetIndex == $index && {'color':'black', 'font-weight' : 'bold'}"><span>{{ facet.name }}</span> <span style="margin-left:5px;"><i class="fa fa-caret-down"></i></span></span>
                    </div>
                    <!-- Open Drawer -->
                    <div id="filter-{{facet.key}}-open" style="display:none; height:28px; color:darkgray; cursor:pointer; padding-bottom:7px; clear:both" data-ng-click="vm.updateDrawerUI(facet.key, 'closed')"
                         type="button" onmouseover="style.color = 'black'" onmouseout="style.color = 'darkgray'"
                         aria-expanded="false" data-toggle="collapse" data-target="#filter-{{facet.key}}">
                        <span data-ng-style="facet.SelectedItemCount > 0 && {'color':'black', 'font-weight' : 'bold'} || vm.locationSearch.facetIndex == $index && {'color':'black', 'font-weight' : 'bold'}"><span>{{ facet.name }}</span> <span style="margin-left:5px;"><i class="fa fa-caret-up"></i></span></span>
                    </div>
                    <div style="clear:both;" id="filter-{{facet.key}}" class="collapse">

                        <!-- Add additional top margin to swatch type drawers-->
                        <div data-ng-show="facet.type == 'swatch'" style="height:10px;"></div>

                        <!-- Checklist & Swatch Loop -->
                        <div style="margin-left:10px;" ng-repeat="item in facet.values">

                            <!-- Checklists -->
                            <div data-ng-show="facet.type != 'swatch' && facet.type != 'location'">
                                <label class="facetCheckbox" style="font-weight:normal; cursor:pointer;">
                                    <input type="checkbox"
                                           style="cursor:pointer;"
                                           value="{{item.filter}}"
                                           data-ng-model="item.Selected"
                                           data-ng-change="vm.search()">

                                    <span data-ng-show="!item.Selected" style="color:darkgray; font-size:11px;">{{item.name}} <span style="color:darkgray">({{item.count | number }})</span></span>
                                    <span data-ng-show="item.Selected" style="color:black; font-size:11px; font-weight:bold">{{item.name}} <span style="color:darkgray">({{item.count | number }})</span></span>

                                </label>
                            </div>

                            <!-- Swatches -->
                            <div data-ng-show="facet.type == 'swatch'" style="float:left; margin:6px">

                                <img data-ng-show="item.Selected" data-ng-click="vm.deselectSwatchFilter($parent.$index, $index)" title="{{item.name}} ({{item.count}})" alt="{{item.filter}}" ng-src="{{item.image}}" height="35" width="35" style="border:3px solid black; cursor:pointer;" />
                                <img data-ng-show="!item.Selected" data-ng-click="vm.selectSwatchFilter($parent.$index, $index)" title="{{item.name}} ({{item.count}})" alt="{{item.filter}}" ng-src="{{item.image}}" height="35" width="35" style="border:1px solid lightgray;opacity:.6; cursor:pointer;" />

                            </div>

                        </div>

                        <!-- Location Form If not map search -->
                        <div data-ng-show="facet.type == 'location'" style="float:left; margin:6px">

                            <form ng-submit="vm.useSearchLocation($index)">

                                <div style="text-align:center">
                                    <span style="float:left; color:#516778; margin-right:5px; margin-top:4px; font-weight:bold; font-size:10px">Within:</span>
                                    <input data-ng-model="facet.LocationSearchDistance" style="float:left; margin-right:5px; height:22px; width:50px; font-size:11px; padding:5px;" type="text" class="form-control input">

                                    <!--Choose DistanceType-->
                                    <div style="float:left;">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                <span>{{ facet.SelectedDistanceType.label }} <span class="caret"></span></span>
                                            </button>
                                            <ul style="margin-left:-55px" class="dropdown-menu" role="menu">
                                                <li>
                                                    <a data-ng-repeat="distanceType in facet.DistanceTypes" data-ng-show="facet.SelectedDistanceType.value != distanceType.value" style="cursor:pointer; font-size:12px;" data-ng-click="vm.updateLocationPropertyDistanceType($parent.$index, distanceType)">{{ distanceType.label }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <span style="float:left; color:#516778; margin-left:5px; margin-top:4px; font-weight:bold; font-size:10px">of: </span>

                                </div>

                                <div style="clear:both; height:10px;"></div>

                                <div>


                                    <div class="input-group">
                                        <input style="height:28px; font-size:12px; padding:6px; font-weight:bold" type="text" class="form-control" data-ng-model="facet.LocationSearchQuery" placeholder="Postal code, city or place">
                                        <span class="input-group-btn">
                                            <button type="Submit" style="height:28px; font-size:12px;" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>


                                </div>

                                <div data-ng-show="vm.locationSearch.available && vm.locationSearch.facetIndex == $index">
                                    <div style="clear:both; height:10px;"></div>
                                    <div style="text-align:right; margin-bottom:-10px;">
                                        <!--<button data-ng-click="vm.useSearchLocation($index)" class="btn btn-primary btn-xs" type="button">Search</button>-->
                                        <button style="font-size:10px;" data-ng-click="vm.locationSearch.Clear($index, true)" class="btn btn-default btn-xs" type="button"><i class="fa fa-times"></i> Clear location</button>

                                    </div>
                                </div>


                            </form>

                        </div>

                        <!--Clear floats and add bottom margin to swatch type drawers
                        <div data-ng-show="facet.type == 'swatch'" style="clear:both; height:6px;"></div>-->
                        <div style="clear:both; height:12px;"></div>

                        <!--Advanced Options-->
                        <div data-ng-show="facet.HasSelectedItems" style="clear:both; margin-left:0px; margin-top:-5px;">
                            <!--Closed-->
                            <div data-ng-show="!facet.ShowAdvanced">
                                <div style="clear:both;"></div>
                                <small data-ng-click="vm.showAdvancedOptions($index)" style="color:darkgray; cursor:pointer" onmouseover="this.style.color = 'lightgray'" onmouseout="this.style.color = 'darkgray';">Advanced options <i class="fa fa-caret-down"></i></small>
                            </div>
                            <!--Open-->
                            <div data-ng-show="facet.ShowAdvanced">
                                <div style="clear:both;"></div>
                                <small data-ng-click="vm.hideAdvancedOptions($index)" style="color:darkgray; cursor:pointer" onmouseover="this.style.color = 'lightgray'" onmouseout="this.style.color = 'darkgray';">Advanced options <i class="fa fa-caret-up"></i></small>
                                <div style="clear:both; margin-top:10px; margin-bottom:10px; margin-left:10px;">

                                    <!--All (AND)-->
                                    <div data-ng-show="facet.BooleanOperator == 'and'">
                                        <!--<img src="/Images/ui/switch/search-any-toggle.png" style="cursor:pointer" data-ng-click="vm.setOperatorToOr($index)" /><span>ALL</span>-->
                                        <div style="height:5px;"></div>
                                        <span><i data-ng-click="vm.setOperatorToOr($index)" class="fa fa-lock" style="cursor:pointer; font-size:18px; margin-right:2px; font-weight:bold; color:darkgray" onmouseover="this.style.color = 'black'" onmouseout="this.style.color = 'darkgray';"></i> </span>
                                        <small style="color:darkgray; font-size:12px"> Search <b><u>ONLY</u></b> for items that contain <b><u>ALL</u></b> selected <b><u>{{facet.name}}</u></b> options</small>
                                    </div>

                                    <!--Any (OR)-->
                                    <div data-ng-show="facet.BooleanOperator == 'or'">
                                        <!--<img src="/Images/ui/switch/search-all-toggle.png" style="cursor:pointer" data-ng-click="vm.setOperatorToAnd($index)" /><span>ANY</span>-->
                                        <div style="height:5px;"></div>
                                        <span><i data-ng-click="vm.setOperatorToAnd($index)" class="fa fa-unlock" style="cursor:pointer; font-size:18px; margin-right:2px; font-weight:bold; color:black" onmouseover="this.style.color = 'darkgray'" onmouseout="this.style.color = 'black';"></i> </span>
                                        <small style="color:black; font-size:12px"> Search for items that contain <b><u>ANY</u></b> of the selected <b><u>{{facet.name}}</u></b> options</small>
                                    </div>

                                </div>
                            </div>
                        </div>




                    </div>
                </div>


                <hr style="float:left; width:100%; border-color:#EDEDED; margin-top:5px; margin-bottom:5px" data-ng-hide="facet.type == 'location' && vm.searchMode == 'map'" />


            </div>

            <!---------------------------- SORTABLES ------------------------>

            <div id="sortingFilter" data-ng-hide="vm.searchMode == 'map'">

                <!--Drawer Label-->
                <div style="height:28px; color:darkgray; cursor:pointer; padding-bottom:7px; clear:both" data-ng-click="vm.updateSortingDrawerUI()"
                     type="button" onmouseover="style.color = 'black'" onmouseout="style.color = 'darkgray'"
                     aria-expanded="false" data-toggle="collapse" data-target="#sorting-filters">

                    <span data-ng-style="vm.searchSorting.label != 'Relevance' && {'color':'black', 'font-weight' : 'bold'}">
                        <span>Sort by</span> <span style="margin-left:5px;">
                            <i data-ng-show="vm.sortingDrawerOpen == true" class="fa fa-caret-up"></i>
                            <i data-ng-show="vm.sortingDrawerOpen == false" class="fa fa-caret-down"></i>
                        </span>
                    </span>
                </div>


                <div id="sorting-filters" class="collapse">
                    <div style="margin-bottom:25px; margin-top:20px; margin-left:15px;">

                        <!--Choose Sorting-->
                        <div style="margin-bottom:5px;">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span>{{ vm.searchSorting.label }} <span class="caret"></span></span>
                                </button>
                                <ul style="margin-left:-25px" class="dropdown-menu" role="menu">
                                    <li>
                                        <a data-ng-repeat="sortable in vm.sortables" style="cursor:pointer" data-ng-click="vm.updateSorting(sortable)">{{ sortable.label }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <hr style="border-color:#EDEDED; margin-bottom:10px; margin-top:5px;" data-ng-hide="vm.searchMode == 'map'" />

        </div>



    </div>



    <!-------------------- SEARCH BARs ------------------------------->
    <!--Initial Search Bar (Large - LIST mode)-->
    <div class="visible-lg" data-ng-show="vm.pageLoaded == true && vm.searchResults == null && vm.searching == false && vm.searchMode == 'list'" style="margin:auto; margin-top:155px; text-align:center; width:100%">

        <form style="position:absolute; margin-left:0; left: 50%; margin-right: -50%; padding-left:140px; transform: translate(-50%, -50%)" ng-submit="vm.search()">
            <img data-ng-show="vm.account.images.logos.wide.url != null" src="{{ vm.account.images.logos.wide.url }}" width="320" height="150" style="margin:20px; margin-top:140px;" />
            <div id="search-box-initial" class="input-group" style="width:460px; text-align:center">
                <input autofocus style="height:58px; width:460px; font-size:28px;" type="text" class="form-control" data-ng-model="vm.searchQuery" placeholder="Search inventory">
                <span class="input-group-btn">
                    <button style="height:58px; font-size:28px;" class="btn btn-primary" type="Submit"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>

            <!-- Search mode selector -->
            <div data-ng-show="vm.mapsInitiated == true" style="clear:both; margin-top:20px;">
                <i class="fa fa-map-marker" style="color:darkgray"></i> <a style="cursor:pointer; color:darkgray" data-ng-click="vm.switchSearchMode('map', false)">Go to map search</a><!--#428bca-->
            </div>

        </form>

    </div>

    <!--Initial Search Bar (Large - MAP mode)-->
    <div class="visible-lg" data-ng-show="vm.pageLoaded == true && vm.searchResults == null && vm.searching == false && vm.searchMode == 'map'" style="margin:auto; margin-top:187px; text-align:center; width:100%">

        <form style="position:absolute; margin-left:0; left: 50%; margin-right: -50%; padding-left:-140px; transform: translate(-50%, -50%)" ng-submit="vm.useSearchLocation(vm.defaultLocationFacet.FacetIndex)">
            <img data-ng-show="vm.account.images.logos.wide.url != null" src="{{ vm.account.images.logos.wide.url }}" width="320" height="150" style="margin:20px; margin-top:140px;" />

            <div data-ng-show="vm.locationFacets.length > 0">
                <label style="float:left; margin-top:12px; margin-right:10px; margin-left:167px;">Within: </label>
                <input maxlength="3" style="height:44px; width:85px; font-size:20px; float:left; padding-left:5px; text-align:center; font-weight:bold" type="text" class="form-control" data-ng-model="vm.defaultLocationFacet.LocationSearchDistance" placeholder="">

                <!--Choose DistanceType-->
                <div style="float:left; margin-left:5px; margin-right:5px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
                            <span>{{ vm.defaultLocationFacet.SelectedDistanceType.label }} <span class="caret"></span></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a data-ng-repeat="distanceType in vm.defaultLocationFacet.DistanceTypes" data-ng-show="vm.defaultLocationFacet.SelectedDistanceType.value != distanceType.value" style="cursor:pointer; font-size:12px;" data-ng-click="vm.updateLocationPropertyDistanceType(vm.defaultLocationFacet.FacetIndex, distanceType)">{{ distanceType.label }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <label style="float:left; margin-top:12px; margin-left:5px;">of:</label>
            </div>

            <div style="clear:both; height:20px;" data-ng-show="vm.locationFacets.length > 0"></div>

            <div id="search-box-initial" class="input-group" style="width:460px; text-align:center;" data-ng-show="vm.locationFacets.length > 0">
                <input autofocus style="height:58px; width:460px; font-size:28px;" type="text" class="form-control" data-ng-model="vm.defaultLocationFacet.LocationSearchQuery" placeholder="Postal code, city or place...">
                <span class="input-group-btn">
                    <button style="height:58px; font-size:28px;" class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>

            <div data-ng-show="vm.locationFacets.length > 1" style="text-align:center; margin-top:20px; margin-left:240px; padding-bottom:30px;">
                <label style="float:left; color:darkgray; font-weight:normal;">on</label>
                <!--Choose Default Location Property-->
                <div style="float:left; margin-left:5px; margin-right:5px;">
                    <div class="btn-group">
                        <button style="color:darkgray" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span>{{ vm.defaultLocationFacet.name }} <span class="caret"></span></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a data-ng-repeat="locationFacet in vm.locationFacets" data-ng-show="vm.defaultLocationFacet.name != locationFacet.name" style="cursor:pointer; font-size:12px;" data-ng-click="vm.updateDefaultLocationFacet(locationFacet)">{{ locationFacet.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <label style="float:left; color:darkgray; font-weight:normal;">property</label>
            </div>

            <div data-ng-show="vm.locationFacets.length == 0">
                <h3>Map search not available</h3>
            </div>

            <!-- Search mode selector -->
            <div style="clear:both; margin-top:20px;">
                <i class="fa fa-list" style="color:darkgray"></i> <a style="cursor:pointer; color:darkgray" data-ng-click="vm.switchSearchMode('list', false)">Go to list search</a><!--#428bca-->
            </div>

        </form>

    </div>

    <!--Initial Search Bar (Medium)-->
    <div class="visible-md" data-ng-show="vm.pageLoaded == true && vm.searchResults == null && vm.searching == false" style="margin:auto; margin-top:125px; text-align:center; width:100%">

        <form style="position:absolute; margin-left:0; left: 50%; margin-right: -50%; padding-left:140px; transform: translate(-50%, -50%)" ng-submit="vm.search()">
            <img data-ng-show="vm.account.images.logos.wide.url != null" src="{{ vm.account.images.logos.wide.url }}" width="200" height="100" style="margin:20px;" />
            <div id="search-box-initial" class="input-group" style="width:460px; text-align:center">
                <input autofocus style="height:58px; width:460px; font-size:28px;" type="text" class="form-control" data-ng-model="vm.searchQuery" placeholder="Search inventory">
                <span class="input-group-btn">
                    <button style="height:58px; font-size:28px;" class="btn btn-primary" type="Submit"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </form>
    </div>

    <!--Initial Search Bar (Small)-->
    <div class="visible-sm" data-ng-show="vm.pageLoaded == true && vm.searchResults == null && vm.searching == false" style="margin:auto; margin-top:125px; text-align:center; width:100%">

        <form style="position:absolute; margin-left:0; left: 50%; margin-right: -50%;  transform: translate(-50%, -50%)" ng-submit="vm.search()">
            <img data-ng-show="vm.account.images.logos.wide.url != null" src="{{ vm.account.images.logos.wide.url }}" width="150" height="75" style="margin:20px;" />
            <div id="search-box-initial" class="input-group" style="width:460px; text-align:center">
                <input autofocus style="height:58px; width:360px; font-size:28px;" type="text" class="form-control" data-ng-model="vm.searchQuery" placeholder="Search inventory">
                <span class="input-group-btn">
                    <button style="height:58px; font-size:28px;" class="btn btn-primary" type="Submit"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </form>
    </div>

    <!--Initial Search Bar (Mobile)-->
    <div class="visible-xs" data-ng-show="vm.pageLoaded == true && vm.searchResults == null && vm.searching == false" style="margin:auto; margin-top:80px; text-align:center; width:100%">
        <form style="position:absolute; margin-left:0; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)" ng-submit="vm.search()">
            <img data-ng-show="vm.account.images.logos.wide.url != null" src="{{ vm.account.images.logos.wide.url }}" width="120" height="60" style="margin:20px;" />
            <div id="search-box-initial" class="input-group" style="width:260px; text-align:center">
                <input autofocus style="height:36px; font-size:18px;" type="text" class="form-control" data-ng-model="vm.searchQuery" placeholder="Search inventory">
                <span class="input-group-btn">
                    <button style="height:36px; font-size:18px;" class="btn btn-primary" type="Submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </div>


    <!-------------------- RESULTS INFO ------------------------------->
    <!-- Results info (Big LISTING)-->
    <div class="visible-lg visible-md" data-ng-show="vm.searchResults != null && !vm.searching && vm.searchMode =='list'" style="color:black; text-align:left; margin-right:27px; margin-left:295px; padding-top:10px; padding-bottom:0px">

        <div style="margin-left:20px; margin-top:25px;" data-ng-show="vm.resultsAvailable == 0 && vm.searchMode == 'list'"><b>No results.</b> Adjust your query or:&nbsp;&nbsp;<span style="margin-right:5px;"><span style="color:darkgray"><i class="fa fa-undo"></i> </span><a style="color:black; font-weight:bold; cursor:pointer; padding-top:5px;" data-ng-click="vm.switchSearchMode('list', true)">reset search</a></span></div>
        <!--<div style="margin-left:1px; margin-top:3px;  font-weight:normal; font-size:12px; color:red;" data-ng-show="vm.resultsAvailable == 0 && vm.searchMode == 'map'"><b>No results.</b> Adjust search using left panel options or move/zoom around map. <span style="float:right; margin-right:10px;"> You can also: <a style="color:black; font-weight:bold; cursor:pointer; padding-top:5px;" data-ng-click="vm.switchSearchMode('map', true)">Reset location</a></span></div>-->


        <span>
            <small data-ng-show="vm.resultsAvailable == 1"><b>{{vm.resultsAvailable}}</b> result</small>
            <small data-ng-show="vm.resultsAvailable > 1"><b>{{vm.resultsAvailable}}</b> results</small>
        </span>


        <span data-ng-show="vm.resultsAvailable > 0 && vm.searchResults != ''">


            <small data-ng-show="vm.categorizationStringHtml != null">&nbsp;&nbsp;|&nbsp;&nbsp;Categorization: <b>{{ vm.categorizationStringHtml }}</b></small>

            <small data-ng-show="vm.searchQueryCompleted != null && vm.searchQueryCompleted != ''">&nbsp;&nbsp;|&nbsp;&nbsp;Term: <b>"{{ vm.searchQueryCompleted }}"</b></small>

            <small>&nbsp;&nbsp;|&nbsp;&nbsp;Sorted by: <b><span data-ng-show="vm.locationSearch.available">Distance, </span>{{ vm.searchSorting.label }}</b></small>

            <small data-ng-show="vm.filterStringsArray.length > 0">&nbsp;&nbsp;|&nbsp;&nbsp;<span style="color:darkgray; border-color:darkgray;"> + <b title="{{ vm.filterTitleString }}" style="cursor:pointer">Filter(s)</b></span></small>

            <span style="float:right; margin-right:10px;"> <span style="color:darkgray; font-size:12px; "><i class="fa fa-undo"></i>&nbsp;&nbsp;</span><a style="color:black; font-weight:bold; font-size:12px; cursor:pointer; padding-top:5px;" data-ng-click="vm.switchSearchMode('list', true)">Reset search</a></span>

        </span>


    </div>

    <!-- Results info (Big MAP)-->
    <div class="visible-lg visible-md" data-ng-show="vm.searchResults != null && !vm.searching && !vm.searchingMore && vm.searchMode =='map'" style="color:black; text-align:left; margin-right:25px; margin-left:285px; padding-top:10px;">

        <div style="margin-top:25px;" data-ng-show="vm.resultsAvailable == 0 && vm.searchMode == 'list'"><b>No results.</b> Adjust your search.</div>
        <div style="margin-top:3px; font-weight:normal; font-size:12px; color:red;" data-ng-show="vm.resultsAvailable == 0 && vm.searchMode == 'map'"><b>No results.</b> Adjust search using left panel options or move/zoom around map. <span style="float:right; margin-right:5px;"> <span style="color:darkgray"><i class="fa fa-undo"></i>&nbsp;&nbsp;</span><a style="color:black; font-weight:bold; cursor:pointer; padding-top:5px;" data-ng-click="vm.switchSearchMode('map', true)">Reset search</a></span></div>

        <span data-ng-show="vm.resultsAvailable > 0 && vm.searchResults != ''">
            <small>Showing <b>{{ vm.paginationInfo.pageStartAt }}</b>-<b>{{ vm.paginationInfo.pageEndAt }}</b> of </small>
        </span>

        <span data-ng-show="vm.resultsAvailable > 0 && vm.searchResults != ''">
            <small data-ng-show="vm.resultsAvailable == 1"><b>{{vm.resultsAvailable}}</b> result</small>
            <small data-ng-show="vm.resultsAvailable > 1"><b>{{vm.resultsAvailable}}</b> results</small>
        </span>

        <span data-ng-show="vm.resultsAvailable > 0 && vm.searchResults != ''">




            <small data-ng-show="vm.categorizationStringHtml != null">&nbsp;&nbsp;|&nbsp;&nbsp;Categorization: <b>{{ vm.categorizationStringHtml }}</b></small>

            <small data-ng-show="vm.searchQueryCompleted != null && vm.searchQueryCompleted != ''">&nbsp;&nbsp;|&nbsp;&nbsp;Term: <b>"{{ vm.searchQueryCompleted }}"</b></small>

            <small>&nbsp;&nbsp;|&nbsp;&nbsp;Sorted by: <b>Distance</b></small>

            <small data-ng-show="vm.filterStringsArray.length > 1">&nbsp;&nbsp;|&nbsp;&nbsp;<span style="color:darkgray; border-color:darkgray;"> + <b title="{{ vm.filterTitleString }}" style="cursor:pointer">Filter(s)</b></span></small>

            <span style="float:right; margin-right:5px;"> <span style="color:darkgray; font-size:12px;"><i class="fa fa-undo"></i>&nbsp;&nbsp;</span><a style="color:black; font-weight:bold; font-size:12px; cursor:pointer; padding-top:5px;" data-ng-click="vm.switchSearchMode('map', true)">Reset search</a></span>

        </span>


    </div>


    <!-- Results info (Small)-->
    <div class="visible-sm" data-ng-show="vm.searchResults != null && !vm.searching" style="color:darkgray; text-align:left; margin-left:45px; padding-top:10px;">
        <h3 style="margin-top:25px; margin-left:45px; text-align:center; " data-ng-show="vm.resultsAvailable == 0">No results, try to adjust your search.</h3>
        <h4 data-ng-show="vm.resultsAvailable == 1">{{vm.resultsAvailable}} result</h4>
        <h4 data-ng-show="vm.resultsAvailable > 1">{{vm.resultsAvailable}} total results</h4>

    </div>

    <!-- Results info (Mobile)-->
    <div class="visible-xs" data-ng-show="vm.searchResults != null && !vm.searching" style="color:darkgray; text-align:left; margin-left:45px; padding-top:20px;">
        <h4 style="margin-top:25px; margin-left:45px; text-align:center; " data-ng-show="vm.resultsAvailable == 0">No results, try to adjust your search.</h4>
        <h4 data-ng-show="vm.resultsAvailable == 1">{{vm.resultsAvailable}} result</h4>
        <h4 data-ng-show="vm.resultsAvailable > 1">{{vm.resultsAvailable}} total results</h4>
    </div>


    <!-------------------- RESULTS (GRIDs) ------------------------------->
    <!-- Results (Desktop Large/Medium - New Tab +  Responsive w/ Hover + Infinite SCroll) -->
    <div data-ng-show="vm.searchMode == 'list'" id="results-desktop" class="visible-lg visible-md" style="height:100%; margin-right:10px; margin-left:280px; margin-top:10px; text-align:center">

        <!--Loading-->
        <section-loader data-ng-if="vm.searching == true" message="'Searching'" loader-type="'inline'" style="margin-right:15px; margin-left:15px; margin-bottom:50px;"></section-loader>

        <!--GRID-->
        <div class="row" style="text-align:center; margin-right:-10px;" data-ng-show="vm.searchResults != null && vm.searchResults.length > 0 && vm.searching == false">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <!-- infinite-scroll="vm.searchMore('append')" infinite-scroll-distance="1" infinite-scroll-disabled="vm.disableInfiniteScroll && vm.lockInfiniteScroll" -->
                <div class="col-xl-2 col-lg-3 col-md-3" style="text-align:left;" data-ng-repeat="product in vm.searchResults">
                    <product-item></product-item>
                </div>
            </div>
        </div>
    </div>


    <!-- Loading more indicator -->
    <section-loader data-ng-if="vm.searchingMore == true && vm.searchMode == 'list'" message="'Loading more'" loader-type="'inline'" style="margin-left:315px; margin-right:25px; margin-bottom:20px; margin-top:-60px;"></section-loader>


    <!-- Results (Mobile/Tablet - Responsive) -->
    <div id="results-desktop" class="visible-sm visible-xs" style="height:100%; margin-top:15px; text-align:center">

        <section-loader data-ng-if="vm.searching == true" message="'Searching'" loader-type="'inline'" style="margin:25px;"></section-loader>


        <div data-ng-show="vm.searchResults != null && vm.searchResults.length == 0">
            <small>No results match your query</small>
        </div>


        <div class="container-fluid" data-ng-show="vm.searchResults != null && vm.searchResults.length > 0 && vm.searching == false" style="text-align:center;">
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-12 col-sm-6" style="cursor:pointer; text-align:left;" data-ng-repeat="product in vm.searchResults">

                    <product-item></product-item>

                </div>

            </div>
        </div>

    </div>


    <!-- Load More or Reset (if no infinite scroll)-->
    <div class="visible-xs visible-sm" data-ng-show="vm.searchResults != null && !vm.searchingMore  && !vm.infiniteScroll" style="text-align:center; margin-left:35px">
        <button data-ng-show="vm.amountToSkip < vm.resultsAvailable" style="display: block; width: 90%;" class="btn btn-primary btn-lg" data-ng-click="vm.searchMore('append')">Load more</button>
        <button style="display: block; width: 90%; margin-top:20px; margin-bottom:30px;" class="btn btn-default btn-lg" data-ng-click="vm.resetSearch()">Search again</button>
    </div>


    <!-------------------- RESULTS (MAP) -------------------------------->
    <section-loader data-ng-if="vm.searching == true && vm.searchMode == 'map'" message="'Updating'" loader-type="'inline'" style="clear:both; margin-right:30px; margin-left:285px; margin-bottom:-20px; margin-top:-12px;"></section-loader>
    <section-loader data-ng-if="vm.searchingMore == true && vm.searchMode == 'map'" message="'Updating'" loader-type="'inline'" style="clear:both; margin-right:30px; margin-left:285px; margin-bottom:-20px; margin-top:-12px;"></section-loader>


    <div id="map-results-pane" data-ng-show="vm.searchMode == 'map' && vm.searchResults != null" class="visible-lg visible-md" style="clear:both; margin-left:260px; height:500px">

        <div id="google-map" style="height:100%; border:1px solid darkgray; margin:25px; margin-bottom:-25px; margin-top:10px;"></div>

    </div>

    <div data-ng-show="vm.searchMode == 'map' && vm.searchResults != null" style="padding-top:8px;">
        <small data-ng-hide="vm.paginationInfo.pageStartAt <= 1" style="float:left; margin-left:285px; color:#919191"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;<a style="color:black; cursor:pointer" data-ng-click="vm.searchMore('last')"><b>Previous results</b></a></small>
        <small data-ng-hide="vm.paginationInfo.pageEndAt >= vm.resultsAvailable" style="float:right; margin-right:30px; color:#919191"><a style="color:black; cursor:pointer;" data-ng-click="vm.searchMore('next')"><b>Next results</b></a>&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></small>
    </div>





</div>

