<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <!-- Current Environment -->
    <add key="Environment" value="stage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>
  <system.web>
    
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="Off" xdt:Transform="Replace" />
    
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Registration"
          name="NetTcpBinding_IAccountRegistrationService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Platform/Settings"
                name="NetTcpBinding_IPlatformSettingsService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  
</configuration>