<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    
    <!-- Current Environment -->
    <add key="Environment" value="local" />


    <!-- Shared Client Key for WCF -->
    <add key="SharedClientKey" value="[Config_SharedClientKey]" />
    
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>

  <!-- Mot needed since we assign CORS on the method level
  <httpProtocol>
    <customHeaders>
      < ! - - Adding the following custom HttpHeader will help prevent CORS from stopping the Request - - >
      <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
  </httpProtocol>-->
  
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
 <system.serviceModel>
    <bindings>
       <netTcpBinding>
          <binding name="NetTcpBinding_IAccountRegistrationService">
             <security mode="None" />
          </binding>
          <binding name="NetTcpBinding_IPlatformSettingsService">
             <security mode="None" />
          </binding>
       </netTcpBinding>
    </bindings>

   <!--PRODUCTION-->
   <client>
     <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Registration"
       binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountRegistrationService"
       contract="AccountRegistrationService.IAccountRegistrationService"
       name="NetTcpBinding_IAccountRegistrationService" />
     <endpoint address="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Settings"
       binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformSettingsService"
       contract="PlatformSettingsService.IPlatformSettingsService"
       name="NetTcpBinding_IPlatformSettingsService" />
   </client>

   <!--STAGING
    <client>
        <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Registration" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountRegistrationService" contract="AccountRegistrationService.IAccountRegistrationService" name="NetTcpBinding_IAccountRegistrationService" />
        <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Platform/Settings" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlatformSettingsService" contract="PlatformSettingsService.IPlatformSettingsService" name="NetTcpBinding_IPlatformSettingsService" />
    </client>
   -->
   
  </system.serviceModel>
</configuration>