<div>

    <div id="PasswordClaimsPanelLoading" class="container-fluid" style="padding-top:20px" data-ng-show="vm.passwordClaimsPanelLoading">
        <section-loader message="'Getting claims...'" loader-type="'inline'"></section-loader>
    </div>

    <div id="Claims" class="container-fluid" style="padding-top:20px" data-ng-show="!vm.passwordClaimsPanelLoading">
        
        <!--<hr data-ng-show="vm.passwordClaims.length > 0" style="border-color: black; border-width: 2px" />
        <h5 data-ng-show="vm.passwordClaims.length > 0" style="margin-bottom: 15px; margin-top: -8px;"><strong><i class="fa fa-ticket" style="margin-right: 8px;"></i>Lost Password Claims:</strong></h5>-->

        <table class="table table-striped table-responsive" data-ng-show="vm.passwordClaims.length > 0">
            <!--<thead class="hidden-xs">
                <tr>
                    <th>Email</th>
                    <th>Password Claim Key</th>
                    <th></th>
                </tr>
            </thead>-->
            <tr data-ng-repeat="claim in vm.passwordClaims">
                <!--<td>

                        <strong>
                            {{ claim.Email }}
                        </strong>
                    </td>-->

                <td>
                    <a style="color: black; font-weight: bold" href="mailto:{{ claim.Email }}">{{ claim.Email }}</a>
                </td>

                <!--<td class="hidden-xs">
                        <span>{{ claim.PasswordClaimKey }}</span>
                    </td>-->

                <td style="text-align:right">
                    <!--<small><a href="http://{{ vm.account.AccountNameKey }}.{{ vm.accountUserPasswordClaimUrl }}/{{ claim.PasswordClaimKey }}" target="_blank">Claim Link</a></small>-->
                    <a href="http://{{ vm.account.AccountNameKey }}.{{ vm.accountUserPasswordClaimUrl }}/{{ claim.PasswordClaimKey }}" target="_blank"><button class="btn btn-xs btn-default" data-ng-click="vm.getUserDetail($index, true)"><i class="fa fa-ticket"></i> Claim</button></a>
</td>


            </tr>
        </table>
        
        <div data-ng-show="vm.passwordClaims.length == 0">
            <h6 style="margin-top:-10px">This account has no pending password claims.</h6>
        </div>

        <!--<div data-ng-show="vm.passwordClaims.length == 0">
            <h6><strong><span class="glyphicon glyphicon-star branding-accent-color"></span> No password claims.</strong></h6>
        </div>

        <hr />-->

    </div>

</div>