
@{
    Layout = "~/Views/Shared/_BackgroundImageLayout.cshtml"; //<-- Switch to _PublicLayout to remove Background Image
}


<div class="col-lg-12 col-lg-offset-0" style="padding:25px;">
    <h4 style="color:lightblue"><strong>You are now logged out.</strong></h4>
    <a href="~/Login">Log back in</a>
</div>
