@model Account.Public.Website.Models.MainViewModel
<div data-ng-app="app">
    <div data-ng-view></div>
</div>

<!-- Set in App_Start/BundleConfig -->
@Scripts.Render("~/bundles/angular-directory")
<script type="text/javascript">

    var AccountNameKey = '@Model.AccountNameKey'
    var ApiDomain = '@CoreServices.PlatformSettings.Urls.AccountServiceDomain'

</script>