<div style="text-align:left">
    <div data-ng-show="loaderType == 'inline'">
        <br />
        <small style="margin-left:4px;"><strong>{{ message }}</strong></small>
        <br />
        <img src="/Images/Loaders/initializing.gif" />
        <br />
    </div>

    <div data-ng-show="loaderType == 'overlay'">
        <br />
        <small style="margin-left:4px;"><strong>{{ loaderType }}</strong></small>
        <br />
        <img src="/Images/Loaders/initializing.gif" />
        <br />
    </div>

</div>

