.branding-accent-color {
    color:orange;
}

/*
.branding-accent-color-medium {
    color:#5E4007;
}
*/

.branding-accent-color-dark {
    color:#63512E;
}

/*
.branding-accent-color-light {
    color:#FFDEBA;
}
*/
