@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Redis Performance Tests</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")



</head>
<body style="margin:25px">

        <h1>Choose a performance test</h1>

        <br />

        <a class="btn btn-default" href="/Infrastructure/PerformanceTests_Redis">Redis Performance vs WCF</a>


        <br />
        <br />

    <a class="btn btn-default" href="/Infrastructure/PerformanceTests_WCFCaching">Cached WCF calls vs Noncached calls</a>

</body>
</html>
