<div>
    <!--Reorder Upgrade Modal-->
    <div class="modal fade reorderUpgradeModalWindow" tabindex="-1" role="dialog" aria-labelledby="reorderUpgradeModalWindow" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 style="margin-top:-2px; margin-bottom:-2px;">Reorder Items</h3>
                </div>
                <div class="modal-body">

                    <!--Input State-->
                    <div>
                        <h4>
                            <strong>
                                By default all items are sorted alphabetically.
                            </strong>
                        </h4>
                        <h4>
                            If you would like to be able to reorder your items you can unlock this ability by upgrading to the XXX plan.
                        </h4>
                    </div>

                </div>
                <div class="modal-footer">
                    <!--Input Footer-->
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" data-ng-click="">Upgrade now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
