<div>
    <div style="margin:15px; margin-top:30px;">

        <section-loader data-ng-show="vm.categories == null" message="'Getting categories...'" loader-type="'inline'" style="margin-bottom:50px;"></section-loader>

        <!------ Default View ------->
        <table class="table table-striped table-responsive" data-ng-show="vm.categories != null">
            <tbody>

                <tr data-ng-repeat="category in vm.categories">

                    <!-------- Desktop Size (Under 10 Categories) -------->

                    <td class="hidden-xs" data-ng-show="vm.categories.length <= 10">
                        <div style="margin-top:-12px">
                            <h3>
                                <strong>
                                    <span>

                                        <i data-ng-show="category.Visible" title="Visible" class="fa fa-circle" style="color:limegreen; font-size:10px; vertical-align:middle; margin-right:8px;"></i>
                                        <i data-ng-show="!category.Visible" title="Hidden" class="fa fa-circle" style="color:lightgrey; font-size:10px; vertical-align:middle; margin-right:8px;"></i>
                                        <a data-ng-show="!category.Visible" style="color:#595959" href="/category/{{ category.CategoryNameKey }}">{{ category.CategoryName }}</a>
                                        <a data-ng-show="category.Visible" style="color:#0974ED" href="/category/{{ category.CategoryNameKey }}">{{ category.CategoryName }}</a>
                                    </span>
                                </strong>
                            </h3>
                        </div>
                    </td>

                    <!-------- Desktop Size (Over 10 Categories) -------->

                    <td class="hidden-xs" data-ng-show="vm.categories.length > 10">
                        <div style="margin-top:-6px; margin-bottom:-6px">
                            <h4>
                                <strong>
                                    <span>

                                        <i data-ng-show="category.Visible" title="Visible" class="fa fa-circle" style="color:limegreen; font-size:10px; vertical-align:middle; margin-right:8px;"></i>
                                        <i data-ng-show="!category.Visible" title="Hidden" class="fa fa-circle" style="color:lightgrey; font-size:10px; vertical-align:middle; margin-right:8px;"></i>
                                        <a data-ng-show="!category.Visible" style="color:#595959" href="/category/{{ category.CategoryNameKey }}">{{ category.CategoryName }}</a>
                                        <a data-ng-show="category.Visible" style="color:#0974ED" href="/category/{{ category.CategoryNameKey }}">{{ category.CategoryName }}</a>
                                    </span>
                                </strong>
                            </h4>
                        </div>
                    </td>


                    <!-------- Mobile Size -------->

                    <td class="visible-xs" style="padding:2px">
                        <div style="margin-left:5px">
                            <h4>
                                <strong>
                                    <span>
                                        <i data-ng-show="category.Visible" title="Visible" class="fa fa-circle" style="color:limegreen; font-size:6px; vertical-align:middle; margin-right:4px;"></i>
                                        <i data-ng-show="!category.Visible" title="Hidden" class="fa fa-circle" style="color:lightgrey; font-size:6px; vertical-align:middle; margin-right:4px;"></i>
                                        <a data-ng-show="!category.Visible" style="color:#595959" href="/category/{{ category.CategoryNameKey }}">{{ category.CategoryName }}</a>
                                        <a data-ng-show="category.Visible" style="color:#0974ED" href="/category/{{ category.CategoryNameKey }}">{{ category.CategoryName }}</a>
                                    </span>
                                </strong>
                            </h4>
                        </div>
                    </td>


                    <td data-ng-show="vm.checkRole('Manager')" style="text-align:right; vertical-align:middle">
                        <div style="text-align:right">
                            <div style="text-align:right;">
                                <small style="color:darkgrey; font-size:10px">
                                    <strong>
                                        <span data-ng-show="category.Visible">Visible </span>
                                        <span data-ng-show="!category.Visible && category.Visible != null">Hidden </span>
                                    </strong>
                                </small>
                                <span>
                                    <img data-ng-show="category.Visible" src="/Images/ui/switch/switch-on-green-checked.gif" style="cursor:pointer" data-ng-click="vm.makeHidden($index)" />
                                    <img data-ng-show="!category.Visible && category.Visible != null" src="/Images/ui/switch/switch-off.gif" style="cursor:pointer" data-ng-click="vm.makeVisible($index)" />
                                    <img data-ng-show="category.Visible == null" src="/Images/ui/switch/switch-loading.gif" />
                                </span>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

        <!------ Default Buttons ------->
        <div data-ng-show="vm.categories.length > 0 && vm.checkRole('Manager')" style="text-align:right; margin-top:30px;">

            <!------ Make sure plan allows for ordering and that 2 or more items exist ------->
            <button data-ng-show="vm.account.PaymentPlan.AllowCustomOrdering && vm.categories.length > 1" style="margin-right:5px;" class="btn btn-default hidden-xs hidden-sm" data-toggle="modal" data-ng-click="vm.startOrdering()" data-target=".reorderItemsModalWindow"><i class="fa fa-reorder" style="font-size:10px; vertical-align:middle"></i> Reorder</button>

            <button class="btn btn-primary" data-toggle="modal" data-target=".createCategoryModalWindow" data-ng-click="vm.newCategory.Clear()"><i class="fa fa-plus" style="font-size:10px; vertical-align:middle"></i> Add Category</button>
        </div>

        <!------ First Category Buttons ------->
        <div style="text-align:center" data-ng-show="vm.categories.length == 0 && vm.checkRole('Manager')">
            <button class="btn btn-primary btn-lg" style="font-size:28px; margin-top:-10px; margin-bottom:12px" data-toggle="modal" data-target=".createCategoryModalWindow" data-ng-click="vm.newCategory.Clear()"><i class="fa fa-plus" style="font-size:10px; vertical-align:middle"></i> Create first category</button>
        </div>

    </div>

</div>
