<div id="legalFooter" style="clear:both; text-align:center; margin-top:60px; padding-bottom:10px; margin-bottom:10px; margin-left:20px; margin-right:20px;">

    <hr style="border:none; border-bottom:1px solid #dbdbdb" />

    <div>
        <div style="margin-left:5px; color:#727272">
            <small style="font-size:13px;"><b>Sahara Framework</b> &nbsp;|&nbsp; The SaaS Kickstarter &nbsp;|&nbsp; &copy; {{vm.theCurrentYear}} Innovative Cloud Solutions, LLC</small>
        </div>

        <div style="margin-left:5px; margin-top:5px;">
            <small style="color:lightgray"><a style="color:darkgrey" href="{{vm.serviceAgreement}}" target="_blank">Service Agreement</a> &nbsp;|&nbsp; <a style="color:darkgrey" href="{{vm.termsLink}}" target="_blank">Terms & Conditions</a> &nbsp;|&nbsp; <a style="color:darkgrey" href="{{vm.privacyLink}}" target="_blank">Privacy Policy</a> &nbsp;|&nbsp; <a style="color:darkgrey" href="{{vm.acceptableUseLink}}" target="_blank">Acceptable Use Policy</a> </small>
        </div>
        <div style="padding:15px; padding-right:0px;"></div>
    </div>

</div>



            


