<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!-- Current Environment -->
    <add key="Environment" value="stage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>


  <system.serviceModel>
    <client>

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Authentication"
                name="NetTcpBinding_IAccountAuthenticationService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Platform/Settings"
                name="NetTcpBinding_IPlatformSettingsService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Management"
                name="NetTcpBinding_IAccountManagementService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Communication"
                name="NetTcpBinding_IAccountCommunicationService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/PaymentPlan"
                name="NetTcpBinding_IAccountPaymentPlanService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Billing"
                name="NetTcpBinding_IAccountBillingService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />
    
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Account/Commerce"
                name="NetTcpBinding_IAccountCommerceService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/Images"
                name="NetTcpBinding_IApplicationImagesService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/Categorization"
                name="NetTcpBinding_IApplicationCategorizationService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/Tags"
                name="NetTcpBinding_IApplicationTagsService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />
      
      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/Properties"
                name="NetTcpBinding_IApplicationPropertiesService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/Product"
                name="NetTcpBinding_IApplicationProductService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/ImageFormats"
                name="NetTcpBinding_IApplicationImageFormatsService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />


      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/Search"
                name="NetTcpBinding_IApplicationSearchService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />


      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/ImageRecords"
                name="NetTcpBinding_IApplicationImageRecordsService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/Leads"
                name="NetTcpBinding_IApplicationLeadsService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

      <endpoint address="net.tcp://sahara-stage.westus2.cloudapp.azure.com:8080/Services/Application/ApiKeys"
                name="NetTcpBinding_IApplicationApiKeysService"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />

    </client>

  </system.serviceModel>

  
</configuration>