@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div class="col-lg-12 col-lg-offset-0" style="margin:25px;">
    <h4 style="color:orange;"><strong>Initialization error:</strong></h4>
    <h5 style="color:darkorange;">@ViewBag.Error</h5>
</div>
