<div>

    <!--Edit basic Properties Modal-->
    <div class="modal fade editDatetimePropertiesModalWindow" tabindex="-1" role="dialog" aria-labelledby="editDatetimePropertiesModalWindow" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" style="width:450px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 style="margin-top:-2px; margin-bottom:-2px;">{{ vm.propertyDetails.PropertyName }}</h3>
                </div>
                <div class="modal-body">

                    <div style="margin:15px;">

                        <section-loader data-ng-show="vm.propertyDetails.IsSending == true" message="'Updating....'" loader-type="'inline'" style="margin-bottom:50px;"></section-loader>

                        <div>
                            <!--<span style="margin-right:6px; font-size:16px; font-weight:bold">{{ vm.propertyDetails.Name }}</span>

                             Default
                            <div style="margin-top:-3px;">
                                <!--No Value- ->
                                <small data-ng-show="vm.propertyDetails.AssignedValue == null || vm.propertyDetails.AssignedValue == ''"><button class="btn btn-xs btn-default" style="font-size:10px" data-ng-click="vm.editProperty($index)">Create</button><br /></small>
                                <!--Value- ->
                                <span data-ng-show="vm.propertyDetails.AssignedValue != null && vm.propertyDetails.AssignedValue != ''">
                                    <span data-ng-show="vm.propertyDetails.SymbolPlacement == 'leading'" style="font-size:16px;">{{vm.propertyDetails.Symbol}}{{ vm.propertyDetails.AssignedValue }}</span>
                                    <span data-ng-show="vm.propertyDetails.SymbolPlacement == 'trailing'" style="font-size:16px;">{{ vm.propertyDetails.AssignedValue }}{{vm.propertyDetails.Symbol}}</span>
                                </span>
                            </div>-->


                            <!-- Addiional Styles for Combodate.js -->
                            <style>
                                .year,.month,.day{
                                    font-weight:bold;
                                    cursor:pointer;
                                    padding: 4px;
                                    font-size: 18px;
                                    border-radius:4px;
                                    border: 1px solid #AAAAAA
                                }
                                .hour,.minute,.ampm{
                                    color:#AAAAAA;
                                    cursor:pointer;
                                    padding: 4px;
                                    font-size: 18px;
                                    border-radius:4px;
                                    border: 1px solid #AAAAAA
                                }
                            </style>

                            <!-- Editing -->
                            <div style="margin-bottom:15px;" data-ng-show="vm.propertyDetails.IsSending == false && vm.propertyDetails.SendingComplete == false">
                                <input data-ng-model="vm.propertyDetails.ValueToReplaceOrAppend" style="padding:50px; height:15px; font-size:32px;" type="text" id="edit-modal-datetime-picker" data-format="MM-DD-YYYY HH:mm" data-template="MMM DD YYYY hh mm a" name="date">
                            </div>

                            <div style="clear:both;"></div>

                            <!-- Error -->
                            <div style="margin-bottom:15px; margin-left:0px; font-size:18px;" data-ng-show="vm.propertyDetails.SendingComplete == true && vm.propertyDetails.Results.IsSuccess == false">
                                <span style="color:red; font-weight:bold; margin-right:8px;">{{ vm.propertyDetails.Results.Message }}</span>
                            </div>

                            <!-- More Options -->
                            <div data-ng-show="vm.propertyDetails.SendingComplete == false && vm.propertyDetails.AssignedValue != null && vm.propertyDetails.IsSending == false" style="clear:both; margin-left:-15px; margin-top:15px; margin-bottom:-20px;">
                                <div data-ng-show="!vm.propertyDetails.ShowOptions">
                                    <div style="clear:both; height:10px;"></div>
                                    <button data-ng-click="vm.propertyDetails.ShowMoreOptions()" class="btn btn-link btn-xs" style="color:darkgray">Show more options <i class="fa fa-caret-right"></i></button>
                                </div>
                                <div data-ng-show="vm.propertyDetails.ShowOptions">
                                    <div style="clear:both; height:10px;"></div>
                                    <button data-ng-click="vm.propertyDetails.HideMoreOptions()" class="btn btn-link btn-xs" style="color:darkgray">Hide more options <i class="fa fa-caret-up"></i></button>
                                    <div style="clear:both; margin-top:20px; margin-bottom:30px; margin-left:25px;">
                                        <button class="btn btn-danger" data-ng-click="vm.clearProductProperty(true)">Reset value</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div data-ng-show="vm.propertyDetails.IsSending == false" class="modal-footer">
                    <div>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                        
                        <span data-ng-show="vm.propertyDetails.SendingComplete == false">
                            <button data-ng-show="vm.propertyDetails.ValueToReplaceOrAppend == null || vm.propertyDetails.ValueToReplaceOrAppend == '' || vm.propertyDetails.ValueToReplaceOrAppend == vm.propertyDetails.PreviousValue" class="btn btn-primary disabled">Update</button>
                            <button data-ng-show="vm.propertyDetails.ValueToReplaceOrAppend != null && vm.propertyDetails.ValueToReplaceOrAppend != '' && vm.propertyDetails.ValueToReplaceOrAppend != vm.propertyDetails.PreviousValue" class="btn btn-primary" data-ng-click="vm.updateProductProperty(vm.propertyDetails.ValueType, true)">Update</button>
                        </span>

                        <span data-ng-show="vm.propertyDetails.SendingComplete == true && vm.propertyDetails.Results.IsSuccess == false">
                            <button type="button" class="btn btn-warning" data-ng-click="vm.retryPropertyEdit()">Try Again</button>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
